In [1]:
# this file takes in all files and produce the appropriate d2s analysis
from pathlib import Path
from datasets import load_dataset
from evaluate import load
import pandas as pd
import numpy as np
from pathlib import Path
from functional import seq
from funcutils import underscore as _
from funcutils import get
from IPython.display import display, display_html, HTML
from editdistance import distance as edit_distance

import matplotlib.pyplot as plt

In [2]:
plt.style.use('seaborn-v0_8-whitegrid')
params = {"ytick.color" : "black",
          "xtick.color" : "black",
          "axes.labelcolor" : "black",
          "axes.edgecolor" : "black",
          "text.usetex" : True,
          "font.family" : "serif",
          "font.serif" : ["Computer Modern Serif"]}
plt.rcParams.update(params)

In [3]:
dspl_html = lambda x: display_html(x, raw=True)
rouge = load('rouge')

In [4]:
root_path = Path("/home/vente/repos/nlgs-research")


INPUT_TO_ANALYSE = ""

# TODO: get this file form argv so driver code can run all analyses in a loop
# or just analayse the outputs of the best model...?
pkl = max( (root_path / "pipeline/predictions").glob("*d2s*"))
pkl.name

'd2s-t5-small-5.pkl'

In [5]:
OUTPUT_PATH = root_path / "pipeline/scores" / pkl.name.removesuffix(".pkl")
OUTPUT_PATH.mkdir(exist_ok=True)
OUTPUT_PATH

PosixPath('/home/vente/repos/nlgs-research/pipeline/scores/d2s-t5-small-5')

In [6]:
test_predictions = pd.read_pickle(pkl)

In [7]:
compute_rouge = lambda x,y: rouge.compute(references=[x], predictions=[y], use_stemmer=False, use_aggregator=False)
compute_rouge(["general kenobi"], "general kenobi")
y_pred = test_predictions.drop(columns=['input_ids','attention_mask','pred_ids','labels'])

chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.nl).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0] # and the predictions
    ])
)
chunked

[[['Abilene, Texas is served by the Abilene regional airport.', 'Abilene Regional Airport serves the city of Abilene in Texas.'], 'Abilene Regional Airport serves the city of Abilene, Texas.'], [['Adolfo Suarez Madrid-Barajas Airport can be found in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas airport is located at Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], [['The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.', 'The runway name at Adolfo Suarez Madrid-Barajas airport is 18L/36R.', 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], [['Afonso Pena International Airport ICAO Location Idenitifier is SBCT.', 'SBCT is the ICAO location identifier of Afonso Pena International Airport.'], 'The ICAO location identifier of Afonso Pena International Airport is SBCT.'], [['Afonso Pena International Airport serves the city of Curitiba.', 'Afonso Pena International Airport serves Curitiba.'], 'Afonso Pena International Airport serves the city of Curitiba.'], [['The Al Taqaddum Air Base serves the city of Fallujah.', 'Al-Taqaddum Air Base serves the city of Fallujah.'], 'Al-Taqaddum Air Base serves the city of Falujah.'], [['The runway length of Al-Taqaddum Air Base is 3684.0.', 'The length of the runway at Al-Taqaddum Air Base is 3684.0.'], 'The runway length of Al-Taqaddum Air Base is 3684.0.'], [['Alderney Airport runway name is 14/32.', '14/32 is the runway name of Alderney Airport.', 'The runway name of Alderney Airport is 14/32.'], 'The runway name of Alderney Airport is 14/32.'], [['The runway length at Allama Iqbal International Airport is 3,360.12.', 'The runway at Allama Iqbal International Airport has a length of 3360.12.', 'The runway at Allama Iqbal International Airport is 3360.12 long.'], 'The runway length of Allama Iqbal International Airport is 3360.12.'], [["The first runway at Amsterdam's Schiphol Airport is known as Number 18.", "The Amsterdam Airport Schiphol's 1st runway number is 18.", 'The number of the 1st runway at Amsterdam Airport Schiphol is 18.'], 'The 1st runway number at Amsterdam Airport Schiphol is 18.'], [['The 5th runway at Amsterdam airport Schiphol has an asphalt surfacing.', 'The fifth runway of Amsterdam Airport Schiphol has an asphalt surface.', 'The 5th runway of the Amsterdam Airport Schiphol is asphalt.'], 'The 5th runway at Amsterdam Airport Schiphol is made of asphalt.'], [['Amsterdam Airport Schiphol runway name is 06/24 Kaagbaan.', '06/24, Kaagbaan, is the runway name of Amsterdam Airport Schiphol.', 'The runway name of Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], 'The runway name of Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], [['Andrews County Airport is 973 metres above sea level.', "Andrews airport's is 973.0 above sea level."], 'Andrews County Airport is 973 metres above sea level.'], [['The Andrews County Airport is owned by Andrews County, Texas.', 'The owner of Andrews County airport is Andrews County, Texas.', 'Andrews County Airport is owned by Andrews County, Texas.'], 'Andrews County Airport is owned by Andrews County, Texas.'], [['The runway length of Andrews County Airport is 896.'], 'Andrews County Airport has a runway length of 896.'], [['Angola International Airport is the first runway made of asphalt.', 'Asphalt is the surface of the first runway of Angola International Airport.', 'The 1st runway at Angola International Airport has an asphalt surface.'], 'The 1st runway at Angola International Airport is made of asphalt.'], [['Antwerp International Airport is 12 metres above sea level.', 'Antwerp International Airport has an elevation of 12.0 metres above sea level.e.'], 'Antwerp International Airport is 12.0 metres above sea level.'], [['The Antwerp International Airport is operated by the Flemish Government.', 'The operating organisation of Antwerp International airport is the Flemish government.', 'Antwerp International Airport is operated by the Flemish government.'], 'The Antwerp International Airport is operated by the Flemish Government.'], [['The runway length of Appleton International Airport is 2,439.', 'The runway length of the Appleton International airport is 2439 units.', 'The runway length of Appleton International Airport is 2439.0.'], 'The runway length of Appleton International Airport is 2439.0.'], [['Ardmore Airport (New Zealand) runway length is 518.0.', 'The runway length of Ardmore Airport, New Zealand, is 518.0.', 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], [['UTAA is the ICAO Location Identifier of Ashgabat International Airport.', 'The ICAO Location Identifier of Ashgabat International Airport is UTAA.'], 'The ICAO location identifier of Ashgabat International Airport is UTAA.'], [['The runway name of Ashgabat International Airport is 11/29.', 'The runway name at Ashgabat International airport is 11/29.'], 'The runway name of Ashgabat International Airport is 11/29.'], [['Atlantic City International Airport owner is South Jersey Transportation Authority.', 'South Jersey Transportation Authority is the owner of the Atlantic City International Airport.', 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], [['The name of the runway at Atlantic City International Airport is "13/31".', '13/31 is the runway name for Atlantic City International airport.', 'Atlantic City International Airport\'s runway name is "13/31".'], 'The runway name of Atlantic City International Airport is 13/31.'], [['The Dutch language is spoken in Belgium.', 'Dutch is the language spoken in Belgium.', "Belgium's language is Dutch."], 'The Dutch language is spoken in Belgium.'], [['Curitiba is part of the South Region, Brazil.'], 'Curitiba is part of the South Region, Brazil.'], [['Denmark demonym is Danes.', 'The inhabitants of Denmark have the demonym of Danes.', 'The people of Denmark are called Danes.'], 'Danes is the demonym of Denmark.'], [['Fallujah is in the country of Iraq.', 'Fallujah is located in the country of Iraq.', 'Fallujah is in Iraq.'], 'Fallujah is in Iraq.'], [['Greenville, Wisconsin is in the U.S.A.', 'Greenville, Wisconsin is located in the United States.', 'Greenville, Wisconsin is in the United States.'], 'Greenville, Wisconsin is in the United States.'], [['Greenville, Wisconsin is part of Grand Chute, Wisconsin.', 'Greenville, Wisconsin is in Grand Chute, Wisconsin.', 'Greenville, Wisconsin, is part of Grand Chute, Wisconsin.'], 'Greenville is part of Grand Chute, Wisconsin.'], [['Iraq language is Arabic.', 'Arabic is the language in Iraq.'], 'Arabic is the language spoken in Iraq.'], [['Madrid is in the country of Spain.', 'The city of Madrid is found in Spain.', 'Madrid is located in Spain.'], 'Madrid is in Spain.'], [['Maple Ridge Township in Alpena County, Michigan is part of the United States.', 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], [['The leader of Pakistan is Sardar Ayaz Sadiq.'], 'Sardar Ayaz Sadiq is the leader of Pakistan.'], [['New Jersey is a region served by the Port Authority of New York and New Jersey.', 'The Port Authority of N.Y. and N.J. serves New Jersey.', 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], [['Houston is the largest city in Texas.'], 'Houston is the largest city in Texas.'], [['The USAF was involved in the 1986 bombing of Libya.', 'The United States Air Force was fighting in the United States bombing of Libya in 1986.', 'The 1986 United States bombing of Libya was carried out by the United States Air Force.'], 'The United States Air Force fought in the United States bombing of Libya in 1986.'], [['The United States Air Force has a Boeing C-17 Globemaster III transport aircraft.', 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], [['Aaron Deer has been signed to the record label Kill Rock Stars.', 'Aaron Deer is signed to the record label Kill Rock Stars.', "Aaron Deer's record label is called Kill Rock Stars."], 'Aaron Deer is signed to the record label Bill Rock Stars.'], [['Aaron Turner plays progressive metal music.', 'Aaron Turner performs progressive metal music.', 'Aaron Turner uses the genre Progressive metal.'], "Aaron Turner's genre is Progressive metal."], [['Abradab was born on November 12th 1978.', 'The birth date of Abradab is 12th November 1978.', 'Abradab was born on 12th November 1978.'], 'Abradab was born on November 12th 1978.'], [['The birth place of Abradab is Poland.', 'Abradab was born in Poland.'], 'Abradab was born in Poland.'], [['The musical genre of Abradab is hip hop music.', 'Abradab performs hip hop music.'], 'Abradab performs hip hop music.'], [['Agustin Barboza plays Guarania style of music.', 'The genre Guarania, is the musical genre that Agustin Barboza is involved in.'], 'Agustin Barboza performs Guarania music.'], [['Ahmet Ertegun was born in Istanbul, Turkey.'], 'Ahmet Ertegun was born in Istanbul, Turkey.'], [['Alan Frew is a performer of rock music.', "Alan Frews' musical genre is rock music.", "Alan Frew's genre is Rock music."], 'Alan Frew performs rock music.'], [['Albennie Jones has worked with the musical artist Sammy Price.'], 'Albennie Jones is associated with Sammy Price.'], [['Aleksandra Kovac was born in Yugoslavia.', 'The birth place of Aleksandra Kovac is Yugoslavia.', 'Yugoslavia is the birth place of Aleksandra Kovac.'], 'Aleksandra Kovac was born in Yugoslavia.'], [['The musical genre of Aleksandra Kovac is rhythm and blues.', "Aleksandra Kovac's genre is rhythm and blues.", 'Aleksandra Kovac is an exponent of Rhythm and blues.'], 'Aleksandra Kovac performs rhythm and blues music.'], [['The musical genre of Alex Day is Synthpop.', 'Alex Day performs Synthpop music.', 'Alex Day uses the Synthpop genre.'], "Alex Day's genre is Synthpop."], [['Alfredo Zitarrosa is associated with fellow musician Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with the artist Hector Numa Moraes.'], 'Alfredo Zitarrosa is associated with the musical artist Hector Numa Moraes.'], [['Montevideo is the birth place of Alfredo Zitarrosa.', 'The birth place of Alfredo Zitarrosa is Montevideo.', 'Alfredo Zitarrosa was born in Montevideo.'], 'Alfredo Zitarrosa was born in Montevideo.'], [['Alfredo Zitarrosa died in Uruguay.'], 'Alfredo Zitarrosa died in Uruguay.'], [['Alfredo Zitarrosa was signed to the RCA Records label.', "Alfredo Zitarrosa's record label is RCA Records.", 'Alfredo Zitarrosa has a recording label in RCA Records.'], 'Alfredo Zitarrosa is signed to RCA Records.'], [["Alison O'Donnell plays jazz music.", "Alison O'Donnell performs jazz music."], "Alison O'Donnell's genre is jazz."], [["Alison O'Donnell is a singer and also plays the bodhran, percussion and autoharp.", "Alison O'Donnell is a musician who uses her voice,bodhran,percussion and autoharp.", "The instruments that Alison O'Donnell plays are bodhran, percussion, autoharp plus she also sings."], "Alison O'Donnell plays the piano, bodhran, percussion and autoharp."], [['Allen Forrest was born on February 4, 1981.', "Allen Forrest's birth date is 04th February 1981.", "Allen Forrest's birth date is 1981-02-04."], 'Allen Forrest was born on April 4th 1981.'], [['The location of Alligator Records is Chicago.', 'Alligator records is based in Chicago.', 'Alligator Records is located in Chicago.'], 'Alligator Records is located in Chicago.'], [['Anders Osborne is associated with the musical artist Johnny Sansone.', 'Anders Osborne and Johnny Sansone are associates.'], 'Anders Osborne is associated with Johnny Sansone.'], [['Anders Osborne performs rhythm and blues music.', 'Rhythm and blues is the musical genre of Anders Osborne.', "Anders Osborne's genre is Rhythm and blues."], 'Anders Osborne performs rhythm and blues music.'], [['Andra is a rhythm and blues singer.', 'Andra performs rhythm and blues music.', "The singer Andra's genre is Rhythm and blues."], 'Andra is a rhythm and blues singer.'], [['Andrew Rayel began his musical career in 2009.', 'Andrew Rayel started his career in 2009.'], 'Andrew Rayel started his career in 2009.'], [['Andrew Rayel is associated with Christian Burns.', 'The musicians Andrew Rayel and Christian Burns are associates.'], 'Andrew Rayel is associated with Christian Burns.'], [['The musician, Andrew White, is associated with the musical artist, Marry Banilow.', 'Andrew White is associated with the musical artist Marry Banilow.'], 'Andrew White is associated with the musical artist Marry Banilow.'], [['Andrew White is a musician signed to the record label B-Unique Records.', 'The musician Andrew White is signed to the record label B-Unique Records.'], 'Andrew White is signed to the record label B-Unique Records.'], [['Christian Burns plays the guitar.', 'Christian Burns plays guitar.'], 'Christian Burns plays the guitar.'], [['Hip hop music originated from funk music.', 'Hip Hop music has its origins in Funk.', 'Hip hop music has its stylistic origins in funk.'], 'Hip hop music has its stylistic origins in Funk.'], [['The stylistic origin of indie rock is new wave music.', 'Indie Rock has its origins in New wave music.'], 'Indie rock has its stylistic origins in New wave music.'], [['Manchester is part of Greater Manchester.', 'Manchester is a part of Greater Manchester.', 'Manchester is part of the Greater Manchester area.'], 'Manchester is part of Greater Manchester.'], [['Polydor Records are based in London.', 'Polydor Records is located in London.', 'Polydor records are located in London.'], 'Polydor Records is located in London.'], [['The distribution company for RCA Records is Sony Music Entertainment.', 'RCA Records distribute through Sony Music Entertainment.'], 'RCA Records is distributed by Sonic Music Entertainment.'], [['Rock and roll music originated from blues music.', 'Rock and Roll has its stylistic origin in the Blues.', "Rock and roll's stylistic origins come from Blues."], 'Rock and roll originated from the blues.'], [['Synthpop is a form of pop music.', "Synthpop's stylistic origins come from pop music.", 'The stylistic origin of synthpop is pop music.'], 'Synthpop has its stylistic origins in pop music.'], [['The nationality of Alan Bean is United States.', "Alan Bean's nationality is the United States.", 'Alan Bean is American.', 'Alan Bean was American.', 'Alan Bean is a US national.'], 'Alan Bean is a United States national.'], [['Buzz Aldrin was a backup pilot on the Apollo 8 mission.', "Apollo 8's backup pilot was Buzz Aldrin."], 'Buzz Aldrin is a backup pilot of Apollo 8.'], [['Buzz Aldrin graduated from Massachusetts Institute of Technology with a Sc.D in 1963.', 'Buzz Aldrin graduated in 1963 from MIT with a Sc.D.', 'Buzz Aldrin graduated from MIT with a Sc. D in 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology, Sc.D. 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a doctorate in Science.'], 'Buzz Aldrin graduated from Massachusetts Institute of Technology, Sc.D. in 1963.'], [['Buzz Aldrin was a crew member of Apollo 11.', 'Buzz Aldrin was a member of the Apollo 11 crew.', 'Buzz Aldrin was a crew member on Apollo 11.'], 'Buzz Aldrin was a crew member of Apollo 11.'], [['NASA selected Buzz Aldrin in 1963.', 'Buzz Aldrin was selected by NASA in 1963.', 'Buzz Aldrin was selected to work for NASA in 1963.', 'Buzz Aldrin was hired by NASA in 1963.'], 'Buzz Aldrin was selected by NASA in 1963.'], [['The gemstone of California is Benitoite.', 'California has a gemstone called Benitoite.', 'Benitoite is a gemstone from California.', 'Benitoite is a gemstone found in California.'], 'The stone of California is Benitoite.'], [['Elliot See died on 28 February, 1966.', 'Elliot See died on the 28th of February 1966.', 'Elliot See died on February 28, 1966.', 'Elliot See died in 1966-02-28.', 'Elliot See lived until the 28th of February 1966.', 'Elliot See died on February 28,1966.'], 'Elliot See died on February 28, 1966.'], [['Elliot See died in St. Louis.', 'Elliot See died in St Louis.'], 'Elliot See died in St. Louis.'], [['Elliot See is dead.', 'Elliot See has died.', 'Elliot See is deceased.'], 'Elliot See is deceased.'], [['Aaron Hunt played for the club SV Werder Bremen.', 'Aaron Hunt plays for SV Werder Bremen.', 'Aaron Hunt played for SV Werder Bremen.'], 'Aaron Hunt plays for SV Werder Bremen.'], [['The footballer Abner was born in Brazil.', 'Abner (a footballer) was born in Brazil.', 'Football player, Abner, was born in Brazil.'], 'Abner was born in Brazil.'], [['Adam Maher was born in the Netherlands.'], 'Adam Maher was born in the Netherlands.'], [['Adam Maher played for the Netherlands national under-17 football team.', 'Adam Maher plays for the Netherlands National club for players under 17.'], 'Adam Maher plays for the Netherlands national under 17 football team.'], [["Adam Maher's club is PSV Eindhoven."], 'Adam Maher plays for PSV Eindhoven.'], [['Ahmad Kadhim Assad plays for the Iraq national football team.', 'Ahmad Kadhim Assad represented the Iraq national football team.', 'Ahmad Kadhim plays for the Iraqi national football team.'], 'Ahmad Kadhim Assad plays for the Iraq national football team.'], [['Akeem Adams was born in Point Fortin.', "Akeem Adams' birthplace is Point Fortin."], 'Akeem Adams was born in Point Fortin.'], [["Akeem Dent's former team is the Atlanta Falcons.", 'Akeem Dent used to play for the Atlanta Falcons.'], "Akeem Dent's former team is the Atlanta Falcons."], [["Akeem Priestley's club is the Connecticut Huskies.", 'Akeem Priestley plays for the Connecticut Huskies.'], 'Akeem Priestley plays for Connecticut Huskies.'], [["Basim Qasim is the manager of Al-Zawra'a SC.", "Basim Qasim manages Al-Zawra'a SC.", "The manager of Al-Zawra'a SC is Basim Qasim."], 'Basim Qasim is the manager of Al-Zawraa SC.'], [['Al Kharaitiyat SC play in the Qatar Stars League.'], 'Al Kharaitiyat SC is in the Qatar Stars League.'], [["Alaa Abdul-Zahra's club is Sanat Mes Kerman F.C.", 'Alaa Abdul Zahra plays for Sanat Mes Kerman FC.'], 'Alaa Abdul Zahra plays for Sanat Mes Kerman FC.'], [['Alan Martin played football for Hamilton Academical F.C.', 'Alan Martin is a footballer for the Hamilton Academical FC.', 'The footballer Alan Martin plays for Hamilton Academical F.C.'], 'Alan Martin is a footballer for Hamilton Academical FC.'], [['Alan Martin is a footballer with the Scotland national under-19 football team club.', 'Alan Martin played football for the Scotland national under 19 team.'], 'Alan Martin plays for the Scottish national under 19 football team.'], [["Aleksander Barkov Jr's birthdate is 1995-09-02.", 'Aleksander Barkov Jr. was born on the 2nd September 1995.'], 'Aleksander Barkov Jr was born on the 2nd September 1995.'], [['Aleksander Barkov Jr is 1.905m tall.', "Aleksander Barkov, Jr's height is 1.905 metres.", 'The height of Aleksander Barkov Jr. is 1.905.'], 'Aleksander Barkov Jr has a height of 1.905.'], [["Aleksandr Prudnikov's date of birth is 1989-02-24.", 'Aleksandr Prudnikov was born on 24th February 1989.', 'Aleksandr Prudnikov was born 1989-02-24.'], 'Ale

In [8]:
rouge_scores = (
  chunked.starmap(compute_rouge)
    # only one rouge per sample, so take the first of the values
    .map(lambda x: seq(x.items()).starmap(lambda x,y : {x:y[0]}))
    # rolling union on dictionaries since they are disjoint
    .map(lambda x: seq(x).reduce(lambda x, y: x | y))
    .to_pandas()
)
rouge_scores

        rouge1    rouge2    rougeL  rougeLsum
0     0.947368  0.823529  0.947368   0.947368
1     1.000000  1.000000  1.000000   1.000000
2     1.000000  1.000000  1.000000   1.000000
3     1.000000  0.800000  0.818182   0.818182
4     1.000000  1.000000  1.000000   1.000000
...        ...       ...       ...        ...
1595  0.888889  0.693878  0.646465   0.646465
1596  0.650000  0.379747  0.493827   0.493827
1597  0.896552  0.776471  0.827586   0.827586
1598  0.800000  0.574713  0.700000   0.700000
1599  0.785714  0.536585  0.666667   0.666667

[1600 rows x 4 columns]

In [9]:
rouge_scores.describe()

            rouge1       rouge2       rougeL    rougeLsum
count  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.848860     0.672264     0.745394     0.745394
std       0.110731     0.200575     0.177137     0.177137
min       0.387097     0.125000     0.266667     0.266667
25%       0.780488     0.533333     0.612245     0.612245
50%       0.851064     0.666667     0.750000     0.750000
75%       0.933871     0.800000     0.894737     0.894737
max       1.000000     1.000000     1.000000     1.000000

In [10]:
bleu = load('sacrebleu')
bleu
compute_bleu = lambda x,y: bleu.compute(references=[x], predictions=[y])

In [11]:
bleu_scores = (
  chunked.starmap(compute_bleu)
    .to_pandas()
)

In [12]:
bleu_scores

,score,counts,totals,precisions,bp,sys_len,ref_len
0,83.499502,"[11, 10, 7, 5]","[11, 10, 9, 8]","[100.0, 100.0, 77.77777777777777, 62.5]",1.000000,11,11
1,100.000000,"[21, 20, 19, 18]","[21, 20, 19, 18]","[100.0, 100.0, 100.0, 100.0]",1.000000,21,21
2,100.000000,"[13, 12, 11, 10]","[13, 12, 11, 10]","[100.0, 100.0, 100.0, 100.0]",1.000000,13,13
3,73.488892,"[11, 9, 7, 5]","[12, 11, 10, 9]","[91.66666666666667, 81.81818181818181, 70.0, 5...",1.000000,12,12
4,100.000000,"[10, 9, 8, 7]","[10, 9, 8, 7]","[100.0, 100.0, 100.0, 100.0]",1.000000,10,10
...,...,...,...,...,...,...,...
1595,75.985407,"[51, 44, 38, 32]","[55, 54, 53, 52]","[92.72727272727273, 81.48148148148148, 71.6981...",1.000000,55,52
1596,26.701496,"[29, 19, 12, 8]","[34, 33, 32, 31]","[85.29411764705883, 57.57575757575758, 37.5, 2...",0.571881,34,53
1597,76.634498,"[43, 37, 32, 29]","[47, 46, 45, 44]","[91.48936170212765, 80.43478260869566, 71.1111...",1.000000,47,47
1598,52.649087,"[47, 35, 25, 19]","[57, 56, 55, 54]","[82.45614035087719, 62.5, 45.45454545454545, 3...",0.982609,57,58
1599,38.863775,"[36, 25, 17, 12]","[40, 39, 38, 37]","[90.0, 64.1025641025641, 44.73684210526316, 32...",0.722527,40,53

In [13]:
# TODO: bertscore next, then save all evaluation and predicition
bertscore = load('bertscore')
compute_bert = lambda x,y: bertscore.compute(predictions=[y], references=[x], lang="en", model_type="distilbert-base-uncased" )

In [14]:
bert_scores = (
  chunked
 .starmap(compute_bert)
 .to_pandas()
 .drop(columns='hashcode')
 .applymap(np.mean)
)

In [15]:
prepend_name_to_cols = lambda x,y : x.rename(columns=lambda e: y+"_"+e)
prepend_name_to_cols(bert_scores, 'bert')
all_scores = (
  seq(bert_scores, bleu_scores, rouge_scores)
    .zip(['bert','bleu','rouge'])
    .starmap(prepend_name_to_cols)
)
scores_df = pd.concat(all_scores, axis=1)
scores_df

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_counts,bleu_totals,bleu_precisions,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
0,0.988835,0.977650,0.983211,83.499502,"[11, 10, 7, 5]","[11, 10, 9, 8]","[100.0, 100.0, 77.77777777777777, 62.5]",1.000000,11,11,0.947368,0.823529,0.947368,0.947368
1,1.000000,1.000000,1.000000,100.000000,"[21, 20, 19, 18]","[21, 20, 19, 18]","[100.0, 100.0, 100.0, 100.0]",1.000000,21,21,1.000000,1.000000,1.000000,1.000000
2,1.000000,1.000000,1.000000,100.000000,"[13, 12, 11, 10]","[13, 12, 11, 10]","[100.0, 100.0, 100.0, 100.0]",1.000000,13,13,1.000000,1.000000,1.000000,1.000000
3,0.967089,0.967089,0.967089,73.488892,"[11, 9, 7, 5]","[12, 11, 10, 9]","[91.66666666666667, 81.81818181818181, 70.0, 5...",1.000000,12,12,1.000000,0.800000,0.818182,0.818182
4,1.000000,1.000000,1.000000,100.000000,"[10, 9, 8, 7]","[10, 9, 8, 7]","[100.0, 100.0, 100.0, 100.0]",1.000000,10,10,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.936552,0.932994,0.933446,75.985407,"[51, 44, 38, 32]","[55, 54, 53, 52]","[92.72727272727273, 81.48148148148148, 71.6981...",1.000000,55,52,0.888889,0.693878,0.646465,0.646465
1596,0.926603,0.883873,0.904734,26.701496,"[29, 19, 12, 8]","[34, 33, 32, 31]","[85.29411764705883, 57.57575757575758, 37.5, 2...",0.571881,34,53,0.650000,0.379747,0.493827,0.493827
1597,0.981708,0.983372,0.982539,76.634498,"[43, 37, 32, 29]","[47, 46, 45, 44]","[91.48936170212765, 80.43478260869566, 71.1111...",1.000000,47,47,0.896552,0.776471,0.827586,0.827586
1598,0.936510,0.950141,0.933748,52.649087,"[47, 35, 25, 19]","[57, 56, 55, 54]","[82.45614035087719, 62.5, 45.45454545454545, 3...",0.982609,57,58,0.800000,0.574713,0.700000,0.700000
1599,0.960524,0.912303,0.935793,38.863775,"[36, 25, 17, 12]","[40, 39, 38, 37]","[90.0, 64.1025641025641, 44.73684210526316, 32...",0.722527,40,53,0.785714,0.536585,0.666667,0.666667

In [16]:
scores_df.describe()

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.956341,0.950560,0.952563,62.730283,0.962085,21.970000,22.190000,0.848860,0.672264,0.745394,0.745394
std,0.031023,0.034165,0.031925,23.534629,0.077608,10.917467,10.943148,0.110731,0.200575,0.177137,0.177137
min,0.815483,0.802319,0.810992,5.346660,0.296922,5.000000,5.000000,0.387097,0.125000,0.266667,0.266667
25%,0.935498,0.927892,0.930835,46.253942,0.953497,13.000000,13.000000,0.780488,0.533333,0.612245,0.612245
50%,0.957584,0.951502,0.953139,62.177741,1.000000,21.000000,21.000000,0.851064,0.666667,0.750000,0.750000
75%,0.980980,0.976880,0.977398,78.851324,1.000000,29.000000,29.000000,0.933871,0.800000,0.894737,0.894737
max,1.000000,1.000000,1.000000,100.000000,1.000000,81.000000,67.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
scores_df.to_pickle(OUTPUT_PATH/"d2s_scores.pkl")