In [1]:
# this file takes in all files and produce the appropriate d2s analysis
from pathlib import Path
from datasets import load_dataset
from evaluate import load
import pandas as pd
import numpy as np
from pathlib import Path
from functional import seq
from funcutils import underscore as _
from funcutils import get
from IPython.display import display, display_html, HTML
from editdistance import distance as edit_distance

import matplotlib.pyplot as plt

In [2]:
plt.style.use('seaborn-v0_8-whitegrid')
params = {"ytick.color" : "black",
          "xtick.color" : "black",
          "axes.labelcolor" : "black",
          "axes.edgecolor" : "black",
          "text.usetex" : True,
          "font.family" : "serif",
          "font.serif" : ["Computer Modern Serif"]}
plt.rcParams.update(params)

In [3]:
dspl_html = lambda x: display_html(x, raw=True)
rouge = load('rouge')

In [4]:
root_path = Path("/home/vente/repos/nlgs-research")

pkl = max( (root_path / "pipeline/predictions").glob("*mt*"))
pkl.name

'mt-t5-small-5.pkl'

In [5]:
OUTPUT_PATH = root_path / "pipeline/scores" / pkl.name.removesuffix(".pkl")
OUTPUT_PATH.mkdir(exist_ok=True)
OUTPUT_PATH

PosixPath('/home/vente/repos/nlgs-research/pipeline/scores/mt-t5-small-5')

 ## First, Data to sentence.

In [6]:
preds_raw = pd.read_pickle(pkl)
test_predictions = preds_raw[preds_raw.task == 'd2s']

In [7]:
compute_rouge = lambda x,y: rouge.compute(references=[x], predictions=[y], use_stemmer=False, use_aggregator=False)
compute_rouge(["general kenobi"], "general kenobi")
y_pred = test_predictions.drop(columns=['input_ids','attention_mask','pred_ids','labels'])

chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.nl).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0] # and the first prediction
    ])
)
chunked

[[['Abilene, Texas is served by the Abilene regional airport.', 'Abilene Regional Airport serves the city of Abilene in Texas.'], 'd2s 1: Abilene Regional Airport|city served|Abilene, Texas'], [['Adolfo Suarez Madrid-Barajas Airport can be found in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas airport is located at Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], 'd2s 1: Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas'], [['The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.', 'The runway name at Adolfo Suarez Madrid-Barajas airport is 18L/36R.', 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], 'd2s 1: Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R'], [['Afonso Pena International Airport ICAO Location Idenitifier is SBCT.', 'SBCT is the ICAO location identifier of Afonso Pena International Airport.'], 'd2s 1: Afonso Pena International Airport|i c a o location identifier|SBCT'], [['Afonso Pena International Airport serves the city of Curitiba.', 'Afonso Pena International Airport serves Curitiba.'], 'd2s 1: Afonso Pena International Airport|city served|Curitiba'], [['The Al Taqaddum Air Base serves the city of Fallujah.', 'Al-Taqaddum Air Base serves the city of Fallujah.'], 'd2s 1: Al-Taqaddum Air Base|city served|Fallujah'], [['The runway length of Al-Taqaddum Air Base is 3684.0.', 'The length of the runway at Al-Taqaddum Air Base is 3684.0.'], 'd2s 0: Al-Taqaddum Air Base|runway length|3684.0'], [['Alderney Airport runway name is 14/32.', '14/32 is the runway name of Alderney Airport.', 'The runway name of Alderney Airport is 14/32.'], 'd2s 0: Alderney Airport|runway name|14/32'], [['The runway length at Allama Iqbal International Airport is 3,360.12.', 'The runway at Allama Iqbal International Airport has a length of 3360.12.', 'The runway at Allama Iqbal International Airport is 3360.12 long.'], 'd2s 1: Allama Iqbal International Airport|runway length|3360.12'], [["The first runway at Amsterdam's Schiphol Airport is known as Number 18.", "The Amsterdam Airport Schiphol's 1st runway number is 18.", 'The number of the 1st runway at Amsterdam Airport Schiphol is 18.'], 'd2s 0: Amsterdam Airport Schiphol|1st runway name|No 18.'], [['The 5th runway at Amsterdam airport Schiphol has an asphalt surfacing.', 'The fifth runway of Amsterdam Airport Schiphol has an asphalt surface.', 'The 5th runway of the Amsterdam Airport Schiphol is asphalt.'], 'd2s 0: Amsterdam Airport Schiphol|5th runway surface type|Asphalt'], [['Amsterdam Airport Schiphol runway name is 06/24 Kaagbaan.', '06/24, Kaagbaan, is the runway name of Amsterdam Airport Schiphol.', 'The runway name of Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], 'd2s 0: Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan'], [['Andrews County Airport is 973 metres above sea level.', "Andrews airport's is 973.0 above sea level."], 'd2s 0: Andrews County Airport|elevation above the sea level (in metres)|973.0'], [['The Andrews County Airport is owned by Andrews County, Texas.', 'The owner of Andrews County airport is Andrews County, Texas.', 'Andrews County Airport is owned by Andrews County, Texas.'], 'd2s 1: Andrews County Airport|owner|Andrews County, Texas'], [['The runway length of Andrews County Airport is 896.'], 'd2s 0: Andrews County Airport|runway length|896'], [['Angola International Airport is the first runway made of asphalt.', 'Asphalt is the surface of the first runway of Angola International Airport.', 'The 1st runway at Angola International Airport has an asphalt surface.'], 'd2s 1: Angola International Airport|1st runway surface type|Asphalt'], [['Antwerp International Airport is 12 metres above sea level.', 'Antwerp International Airport has an elevation of 12.0 metres above sea level.e.'], 'd2s 1: Antwerp International Airport|elevation above the sea level (in metres)|12'], [['The Antwerp International Airport is operated by the Flemish Government.', 'The operating organisation of Antwerp International airport is the Flemish government.', 'Antwerp International Airport is operated by the Flemish government.'], 'd2s 1: Antwerp International Airport|operating organisation|Flemish Government'], [['The runway length of Appleton International Airport is 2,439.', 'The runway length of the Appleton International airport is 2439 units.', 'The runway length of Appleton International Airport is 2439.0.'], 'd2s 1: Appleton International Airport|runway length|24339'], [['Ardmore Airport (New Zealand) runway length is 518.0.', 'The runway length of Ardmore Airport, New Zealand, is 518.0.', 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], 'd2s 0: Ardmore Airport (New Zealand)|runway length|518.0'], [['UTAA is the ICAO Location Identifier of Ashgabat International Airport.', 'The ICAO Location Identifier of Ashgabat International Airport is UTAA.'], 'd2s 1: Ashgabat International Airport|i c a o location identifier|UTAA'], [['The runway name of Ashgabat International Airport is 11/29.', 'The runway name at Ashgabat International airport is 11/29.'], 'd2s 1: Ashgabat International Airport|runway name|11/29'], [['Atlantic City International Airport owner is South Jersey Transportation Authority.', 'South Jersey Transportation Authority is the owner of the Atlantic City International Airport.', 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], 'd2s 0: Atlantic City International Airport|owner|South Jersey Transportation Authority'], [['The name of the runway at Atlantic City International Airport is "13/31".', '13/31 is the runway name for Atlantic City International airport.', 'Atlantic City International Airport\'s runway name is "13/31".'], 'd2s 0: Atlantic City International Airport|runway name|13/31'], [['The Dutch language is spoken in Belgium.', 'Dutch is the language spoken in Belgium.', "Belgium's language is Dutch."], 'd2s 0: Belgium|language|Netherlands'], [['Curitiba is part of the South Region, Brazil.'], 'd2s 0: Curitiba|is part of|South Region, Brazil'], [['Denmark demonym is Danes.', 'The inhabitants of Denmark have the demonym of Danes.', 'The people of Denmark are called Danes.'], 'd2s 0: Denmark|demonym|Dänes'], [['Fallujah is in the country of Iraq.', 'Fallujah is located in the country of Iraq.', 'Fallujah is in Iraq.'], 'd2s 0: Fallujah|country|Iraq'], [['Greenville, Wisconsin is in the U.S.A.', 'Greenville, Wisconsin is located in the United States.', 'Greenville, Wisconsin is in the United States.'], 'd2s 0: Greenville, Wisconsin|country|United States'], [['Greenville, Wisconsin is part of Grand Chute, Wisconsin.', 'Greenville, Wisconsin is in Grand Chute, Wisconsin.', 'Greenville, Wisconsin, is part of Grand Chute, Wisconsin.'], 'd2s 0: Greenville, Wisconsin|is part of|Grand Chute, Wisconsin'], [['Iraq language is Arabic.', 'Arabic is the language in Iraq.'], 'd2s 1: Iraq|language|Arabic'], [['Madrid is in the country of Spain.', 'The city of Madrid is found in Spain.', 'Madrid is located in Spain.'], 'd2s 0: Madrid|country|Spain'], [['Maple Ridge Township in Alpena County, Michigan is part of the United States.', 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], 'd2s 1: Maple Ridge Township, Alpena County, Michigan|country|United States'], [['The leader of Pakistan is Sardar Ayaz Sadiq.'], 'd2s 1: Pakistan|leader name|Sardar Ayaz Sadiq'], [['New Jersey is a region served by the Port Authority of New York and New Jersey.', 'The Port Authority of N.Y. and N.J. serves New Jersey.', 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], 'd2s 0: Port Authority of New York and New Jersey|country|United States; New Jersey|is part of|New Jersey'], [['Houston is the largest city in Texas.'], 'd2s 0: Texas|largest city|Houston'], [['The USAF was involved in the 1986 bombing of Libya.', 'The United States Air Force was fighting in the United States bombing of Libya in 1986.', 'The 1986 United States bombing of Libya was carried out by the United States Air Force.'], 'd2s 0: Libya|battles|1986; United States Air Force|battles|Bombarding of Libya'], [['The United States Air Force has a Boeing C-17 Globemaster III transport aircraft.', 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], 'd2s 0: United States Air Force|transport aircraft|Boeing C-17 Globemaster III'], [['Aaron Deer has been signed to the record label Kill Rock Stars.', 'Aaron Deer is signed to the record label Kill Rock Stars.', "Aaron Deer's record label is called Kill Rock Stars."], 'd2s 0: Aaron Deer|record label|Kill Rock Stars'], [['Aaron Turner plays progressive metal music.', 'Aaron Turner performs progressive metal music.', 'Aaron Turner uses the genre Progressive metal.'], 'd2s 1: Aaron Turner|genre|Progressive metal'], [['Abradab was born on November 12th 1978.', 'The birth date of Abradab is 12th November 1978.', 'Abradab was born on 12th November 1978.'], 'd2s 0: Abradab|birth date|1978-11-12'], [['The birth place of Abradab is Poland.', 'Abradab was born in Poland.'], 'd2s 0: Abradab|birth place|Poland'], [['The musical genre of Abradab is hip hop music.', 'Abradab performs hip hop music.'], 'd2s 0: Abradab|genre|Hip hop music'], [['Agustin Barboza plays Guarania style of music.', 'The genre Guarania, is the musical genre that Agustin Barboza is involved in.'], 'd2s 0: Agustin Barboza|genre|Guarania'], [['Ahmet Ertegun was born in Istanbul, Turkey.'], 'd2s 0: Ahmet Ertegun|birth place|Istanbul; Ahmet Ertegun|birth place|Turkey'], [['Alan Frew is a performer of rock music.', "Alan Frews' musical genre is rock music.", "Alan Frew's genre is Rock music."], 'd2s 1: Alan Frew|genre|Rock music'], [['Albennie Jones has worked with the musical artist Sammy Price.'], 'd2s 1: Albennie Jones|associated band/associated musical artist|Sammy Price'], [['Aleksandra Kovac was born in Yugoslavia.', 'The birth place of Aleksandra Kovac is Yugoslavia.', 'Yugoslavia is the birth place of Aleksandra Kovac.'], 'd2s 0: Aleksandra Kovac|birth place|Yougoslavia'], [['The musical genre of Aleksandra Kovac is rhythm and blues.', "Aleksandra Kovac's genre is rhythm and blues.", 'Aleksandra Kovac is an exponent of Rhythm and blues.'], 'd2s 0: Aleksandra Kovac|genre|Rhythm and blues'], [['The musical genre of Alex Day is Synthpop.', 'Alex Day performs Synthpop music.', 'Alex Day uses the Synthpop genre.'], 'd2s 0: Alex Day|genre|Synthpop'], [['Alfredo Zitarrosa is associated with fellow musician Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with the artist Hector Numa Moraes.'], 'd2s 0: Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes'], [['Montevideo is the birth place of Alfredo Zitarrosa.', 'The birth place of Alfredo Zitarrosa is Montevideo.', 'Alfredo Zitarrosa was born in Montevideo.'], 'd2s 0: Alfredo Zitarrosa|birth place|Montevideo'], [['Alfredo Zitarrosa died in Uruguay.'], 'd2s 0: Alfredo Zitarrosa|death place|Uruguay'], [['Alfredo Zitarrosa was signed to the RCA Records label.', "Alfredo Zitarrosa's record label is RCA Records.", 'Alfredo Zitarrosa has a recording label in RCA Records.'], 'd2s 1: Alfredo Zitarrosa|record label|RCA Records'], [["Alison O'Donnell plays jazz music.", "Alison O'Donnell performs jazz music."], 'd2s 0: Alison ODonnell|genre|Jazz'], [["Alison O'Donnell is a singer and also plays the bodhran, percussion and autoharp.", "Alison O'Donnell is a musician who uses her voice,bodhran,percussion and autoharp.", "The instruments that Alison O'Donnell plays are bodhran, percussion, autoharp plus she also sings."], 'd2s 0: Alison ODonnell|genre|Soundhran; Alison ODonnell|instrument|Autoharp; Alison ODonnell|instrument|Percussion'], [['Allen Forrest was born on February 4, 1981.', "Allen Forrest's birth date is 04th February 1981.", "Allen Forrest's birth date is 1981-02-04."], 'd2s 0: Allen Forrest|birth date|1981-02-04'], [['The location of Alligator Records is Chicago.', 'Alligator records is based in Chicago.', 'Alligator Records is located in Chicago.'], 'd2s 0: Alligator Records|location|Chicago'], [['Anders Osborne is associated with the musical artist Johnny Sansone.', 'Anders Osborne and Johnny Sansone are associates.'], 'd2s 1: Anders Osborne|associated band/associated musical artist|Johnny Sansone'], [['Anders Osborne performs rhythm and blues music.', 'Rhythm and blues is the musical genre of Anders Osborne.', "Anders Osborne's genre is Rhythm and blues."], 'd2s 0: Anders Osborne|genre|Rhythm and blues'], [['Andra is a rhythm and blues singer.', 'Andra performs rhythm and blues music.', "The singer Andra's genre is Rhythm and blues."], 'd2s 1: Andra (singer)|genre|Rhythm and blues'], [['Andrew Rayel began his musical career in 2009.', 'Andrew Rayel started his career in 2009.'], 'd2s 0: Andrew Rayel|active years start year|2009'], [['Andrew Rayel is associated with Christian Burns.', 'The musicians Andrew Rayel and Christian Burns are associates.'], 'd2s 1: Andrew Rayel|associated band/associated musical artist|Christian Burns'], [['The musician, Andrew White, is associated with the musical artist, Marry Banilow.', 'Andrew White is associated with the musical artist Marry Banilow.'], 'd2s 1: Andrew White (musician)|associated band/associated musical artist|Marry Banilow'], [['Andrew White is a musician signed to the record label B-Unique Records.', 'The musician Andrew White is signed to the record label B-Unique Records.'], 'd2s 1: Andrew White (musician)|record label|B-Unique Records'], [['Christian Burns plays the guitar.', 'Christian Burns plays guitar.'], 'd2s 1: Christian Burns|instrument|Guitar'], [['Hip hop music originated from funk music.', 'Hip Hop music has its origins in Funk.', 'Hip hop music has its stylistic origins in funk.'], 'd2s 0: Hip hop music|stylistic origin|Funk'], [['The stylistic origin of indie rock is new wave music.', 'Indie Rock has its origins in New wave music.'], 'd2s 0: Indie rock|stylistic origin|New wave music'], [['Manchester is part of Greater Manchester.', 'Manchester is a part of Greater Manchester.', 'Manchester is part of the Greater Manchester area.'], 'd2s 0: Manchester|is part of|Greater Manchester'], [['Polydor Records are based in London.', 'Polydor Records is located in London.', 'Polydor records are located in London.'], 'd2s 0: Polydor Records|location|London'], [['The distribution company for RCA Records is Sony Music Entertainment.', 'RCA Records distribute through Sony Music Entertainment.'], 'd2s 0: RCA Records|distributor|Samsung Music Entertainment'], [['Rock and roll music originated from blues music.', 'Rock and Roll has its stylistic origin in the Blues.', "Rock and roll's stylistic origins come from Blues."], 'd2s 0: Rock and roll|stylistic origin|Blues'], [['Synthpop is a form of pop music.', "Synthpop's stylistic origins come from pop music.", 'The stylistic origin of synthpop is pop music.'], 'd2s 1: Synthpop|genre|Pop music'], [['The nationality of Alan Bean is United States.', "Alan Bean's nationality is the United States.", 'Alan Bean is American.', 'Alan Bean was American.', 'Alan Bean is a US national.'], 'd2s 1: Alan Bean|nationality|United States'], [['Buzz Aldrin was a backup pilot on the Apollo 8 mission.', "Apollo 8's backup pilot was Buzz Aldrin."], 'd2s 0: Buzz Aldrin|was a backup pilot on|Apollo 8'], [['Buzz Aldrin graduated from Massachusetts Institute of Technology with a Sc.D in 1963.', 'Buzz Aldrin graduated in 1963 from MIT with a Sc.D.', 'Buzz Aldrin graduated from MIT with a Sc. D in 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology, Sc.D. 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a doctorate in Science.'], 'd2s 0: Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963'], [['Buzz Aldrin was a crew member of Apollo 11.', 'Buzz Aldrin was a member of the Apollo 11 crew.', 'Buzz Aldrin was a crew member on Apollo 11.'], 'd2s 0: Buzz Aldrin|was a crew member of|Apollo 11'], [['NASA selected Buzz Aldrin in 1963.', 'Buzz Aldrin was selected by NASA in 1963.', 'Buzz Aldrin was selected to work for NASA in 1963.', 'Buzz Aldrin was hired by NASA in 1963.'], 'd2s 0: Buzz Aldrin|was selected by n a s a|1963'], [['The gemstone of California is Benitoite.', 'California has a gemstone called Benitoite.', 'Benitoite is a gemstone from California.', 'Benitoite is a gemstone found in California.'], 'd2s 1: California|stone|Benitoite'], [['Elliot See died on 28 February, 1966.', 'Elliot See died on the 28th of February 1966.', 'Elliot See died on February 28, 1966.', 'Elliot See died in 1966-02-28.', 'Elliot See lived until the 28th of February 1966.', 'Elliot See died on February 28,1966.'], 'd2s 1: Elliot See|death date|1966-02-28'], [['Elliot See died in St. Louis.', 'Elliot See died in St Louis.'], 'd2s 1: Elliot See|death place|St. Louis'], [['Elliot See is dead.', 'Elliot See has died.', 'Elliot See is deceased.'], 'd2s 1: Elliot See|status|Deceased'], [['Aaron Hunt played for the club SV Werder Bremen.', 'Aaron Hunt plays for SV Werder Bremen.', 'Aaron Hunt played for SV Werder Bremen.'], 'd2s 0: Aaron Hunt|club|SV Werder Bremen'], [['The footballer Abner was born in Brazil.', 'Abner (a footballer) was born in Brazil.', 'Football player, Abner, was born in Brazil.'], 'd2s 0: Abner (footballer)|birth place|Brazil'], [['Adam Maher was born in the Netherlands.'], 'd2s 1: Adam Maher|birth place|Netherlands'], [['Adam Maher played for the Netherlands national under-17 football team.', 'Adam Maher plays for the Netherlands National club for players under 17.'], 'd2s 0: Adam Maher|club|Netherlands national under-17 football team'], [["Adam Maher's club is PSV Eindhoven."], 'd2s 0: Adam Maher|club|PSV Eindhoven'], [['Ahmad Kadhim Assad plays for the Iraq national football team.', 'Ahmad Kadhim Assad represented the Iraq national football team.', 'Ahmad Kadhim plays for the Iraqi national football team.'], 'd2s 1: Ahmad Kadhim Assad|club|Iraq national football team'], [['Akeem Adams was born in Point Fortin.', "Akeem Adams' birthplace is Point Fortin."], 'd2s 0: Akeem Adams|birth place|Point Fortin'], [["Akeem Dent's former team is the Atlanta Falcons.", 'Akeem Dent used to play for the Atlanta Falcons.'], 'd2s 0: Akeem Dent|former team|Atlanta Falcons'], [["Akeem Priestley's club is the Connecticut Huskies.", 'Akeem Priestley plays for the Connecticut Huskies.'], 'd2s 0: Akeem Priestley|club|Connecticut Huskies'], [["Basim Qasim is the manager of Al-Zawra'a SC.", "Basim Qasim manages Al-Zawra'a SC.", "The manager of Al-Zawra'a SC is Basim Qasim."], 'd2s 1: Al-Zawraa SC|manager|Basim Qasim'], [['Al Kharaitiyat SC play in the Qatar Stars League.'], 'd2s 1: Al Kharaitiyat SC|league|Qatar Stars League'], [["Alaa Abdul-Zahra's club is Sanat Mes Kerman F.C.", 'Alaa Abdul Zahra plays for Sanat Mes Kerman FC.'], 'd2s 0: Alaa Abdul-Zahra|club|Sanat Mes Kerman F.C.'], [['Alan Martin played football for Hamilton Academical F.C.', 'Alan Martin is a footballer for the Hamilton Academical FC.', 'The footballer Alan Martin plays for Hamilton Academical F.C.'], 'd2s 1: Alan Martin (footballer)|club|Hamilton Academical F.C.'], [['Alan Martin is a footballer with the Scotland national under-19 football team club.', 'Alan Martin played football for the Scotland national under 19 team.'], 'd2s 1: Alan Martin (footballer)|club|Scotland national under-19 football team'], [["Aleksander Barkov Jr's birthdate is 1995-09-02.", 'Aleksander Barkov Jr. was born on the 2nd September 1995.'], 'd2s 0: Aleksander Barkov, Jr.|birth date|1995-09-02'], [['Aleksander Barkov

In [8]:
rouge_scores = (
  chunked.starmap(compute_rouge)
    # only one rouge per sample, so take the first of the values
    .map(lambda x: seq(x.items()).starmap(lambda x,y : {x:y[0]}))
    # rolling union on dictionaries since they are disjoint
    .map(lambda x: seq(x).reduce(lambda x, y: x | y))
    .to_pandas()
)
rouge_scores

        rouge1    rouge2    rougeL  rougeLsum
0     0.666667  0.375000  0.631579   0.631579
1     0.842105  0.777778  0.842105   0.842105
2     0.782609  0.571429  0.608696   0.608696
3     0.583333  0.363636  0.545455   0.545455
4     0.666667  0.461538  0.666667   0.666667
...        ...       ...       ...        ...
1595  0.454545  0.230769  0.302521   0.302521
1596  0.666667  0.341463  0.404762   0.404762
1597  0.355030  0.168675  0.284024   0.284024
1598  0.530973  0.307692  0.452830   0.452830
1599  0.453125  0.222222  0.359375   0.359375

[1600 rows x 4 columns]

In [9]:
rouge_scores.describe()

            rouge1       rouge2       rougeL    rougeLsum
count  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.561394     0.306510     0.461987     0.461987
std       0.107615     0.139222     0.132266     0.132266
min       0.181818     0.000000     0.142857     0.142857
25%       0.489796     0.210526     0.366667     0.366667
50%       0.555556     0.300000     0.444444     0.444444
75%       0.625000     0.382509     0.545455     0.545455
max       0.909091     0.900000     0.909091     0.909091

In [10]:
bleu = load('sacrebleu')
bleu
compute_bleu = lambda x,y: bleu.compute(references=[x], predictions=[y])

In [11]:
bleu_scores = (
  chunked.starmap(compute_bleu)
    .to_pandas()
)

In [12]:
bleu_scores

,score,counts,totals,precisions,bp,sys_len,ref_len
0,20.780604,"[8, 4, 2, 0]","[13, 12, 11, 10]","[61.53846153846154, 33.333333333333336, 18.181...",1.0,13,11
1,64.360455,"[17, 15, 13, 11]","[23, 22, 21, 20]","[73.91304347826087, 68.18181818181819, 61.9047...",1.0,23,22
2,28.656122,"[9, 6, 3, 1]","[14, 13, 12, 11]","[64.28571428571429, 46.15384615384615, 25.0, 9...",1.0,14,13
3,18.922406,"[7, 4, 2, 1]","[16, 15, 14, 13]","[43.75, 26.666666666666668, 14.285714285714286...",1.0,16,12
4,23.462350,"[6, 3, 2, 1]","[12, 11, 10, 9]","[50.0, 27.272727272727273, 20.0, 11.1111111111...",1.0,12,10
...,...,...,...,...,...,...,...
1595,15.379561,"[33, 18, 11, 6]","[93, 92, 91, 90]","[35.483870967741936, 19.565217391304348, 12.08...",1.0,93,69
1596,14.928788,"[29, 13, 5, 2]","[54, 53, 52, 51]","[53.7037037037037, 24.528301886792452, 9.61538...",1.0,54,53
1597,8.404055,"[29, 14, 10, 7]","[156, 155, 154, 153]","[18.58974358974359, 9.03225806451613, 6.493506...",1.0,156,47
1598,18.766606,"[31, 16, 11, 7]","[76, 75, 74, 73]","[40.78947368421053, 21.333333333333332, 14.864...",1.0,76,58
1599,12.507942,"[27, 13, 9, 7]","[99, 98, 97, 96]","[27.272727272727273, 13.26530612244898, 9.2783...",1.0,99,53

In [13]:
bertscore = load('bertscore')
compute_bert = lambda x,y: bertscore.compute(predictions=[y], references=[x], lang="en", model_type="distilbert-base-uncased" )

In [14]:
bert_scores = (
 chunked
   .starmap(compute_bert)
   .to_pandas()
   .drop(columns='hashcode')
   .applymap(np.mean)
)

In [15]:
prepend_name_to_cols = lambda x,y : x.rename(columns=lambda e: y+"_"+e)
prepend_name_to_cols(bert_scores, 'bert')
all_scores = (
  seq(bert_scores, bleu_scores, rouge_scores)
    .zip(['bert','bleu','rouge'])
    .starmap(prepend_name_to_cols)
)
scores_df = pd.concat(all_scores, axis=1)
scores_df

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_counts,bleu_totals,bleu_precisions,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
0,0.785898,0.873805,0.827067,20.780604,"[8, 4, 2, 0]","[13, 12, 11, 10]","[61.53846153846154, 33.333333333333336, 18.181...",1.0,13,11,0.666667,0.375000,0.631579,0.631579
1,0.904106,0.952915,0.927869,64.360455,"[17, 15, 13, 11]","[23, 22, 21, 20]","[73.91304347826087, 68.18181818181819, 61.9047...",1.0,23,22,0.842105,0.777778,0.842105,0.842105
2,0.888998,0.928360,0.908253,28.656122,"[9, 6, 3, 1]","[14, 13, 12, 11]","[64.28571428571429, 46.15384615384615, 25.0, 9...",1.0,14,13,0.782609,0.571429,0.608696,0.608696
3,0.807687,0.892655,0.848048,18.922406,"[7, 4, 2, 1]","[16, 15, 14, 13]","[43.75, 26.666666666666668, 14.285714285714286...",1.0,16,12,0.583333,0.363636,0.545455,0.545455
4,0.792502,0.938147,0.852189,23.462350,"[6, 3, 2, 1]","[12, 11, 10, 9]","[50.0, 27.272727272727273, 20.0, 11.1111111111...",1.0,12,10,0.666667,0.461538,0.666667,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.803384,0.782828,0.792973,15.379561,"[33, 18, 11, 6]","[93, 92, 91, 90]","[35.483870967741936, 19.565217391304348, 12.08...",1.0,93,69,0.454545,0.230769,0.302521,0.302521
1596,0.824956,0.846023,0.835357,14.928788,"[29, 13, 5, 2]","[54, 53, 52, 51]","[53.7037037037037, 24.528301886792452, 9.61538...",1.0,54,53,0.666667,0.341463,0.404762,0.404762
1597,0.803119,0.819222,0.811090,8.404055,"[29, 14, 10, 7]","[156, 155, 154, 153]","[18.58974358974359, 9.03225806451613, 6.493506...",1.0,156,47,0.355030,0.168675,0.284024,0.284024
1598,0.806948,0.834723,0.818820,18.766606,"[31, 16, 11, 7]","[76, 75, 74, 73]","[40.78947368421053, 21.333333333333332, 14.864...",1.0,76,58,0.530973,0.307692,0.452830,0.452830
1599,0.830409,0.819948,0.825145,12.507942,"[27, 13, 9, 7]","[99, 98, 97, 96]","[27.272727272727273, 13.26530612244898, 9.2783...",1.0,99,53,0.453125,0.222222,0.359375,0.359375

In [16]:
scores_df.describe()

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.793839,0.845702,0.817315,14.318463,0.996254,31.087500,24.408750,0.561394,0.306510,0.461987,0.461987
std,0.037304,0.036710,0.034328,9.784737,0.018527,16.477053,11.815463,0.107615,0.139222,0.132266,0.132266
min,0.651801,0.701917,0.681451,1.241494,0.793923,6.000000,5.000000,0.181818,0.000000,0.142857,0.142857
25%,0.772815,0.822722,0.797072,7.267074,1.000000,17.000000,14.000000,0.489796,0.210526,0.366667,0.366667
50%,0.794727,0.844941,0.817328,11.717370,1.000000,30.000000,23.000000,0.555556,0.300000,0.444444,0.444444
75%,0.817753,0.868290,0.838385,18.391495,1.000000,41.000000,32.000000,0.625000,0.382509,0.545455,0.545455
max,0.924009,0.954741,0.937010,69.698246,1.000000,156.000000,69.000000,0.909091,0.900000,0.909091,0.909091

In [17]:
scores_df.to_pickle(OUTPUT_PATH / "d2s_scores.pkl")

In [18]:
test_predictions  = preds_raw[preds_raw.task == 's2d']

In [19]:
# define set notion of precision when multiple labels are assigned
# to a single instance, with epsilon preventing div by zero
def compute_f_measure(pred: set[str], gt: set[str], epsilon=1e-99):
    tp = len(pred.intersection(gt)) # pred true and actually true
    fp = len(gt - pred)             # in pred but not in gt
    fn = len(pred - gt)             # not in pred but actualy true

    prec = tp / (tp + fp + epsilon) 
    recl = tp / (tp + fn + epsilon) 
    f1 = (2 * prec * recl) / (prec + recl + epsilon)
    return f1

 ## Unit Tests

In [20]:
assert compute_f_measure(set("a"), set('a')) == 1
assert compute_f_measure(set("ab"), set('a')) == 2/3
assert compute_f_measure(set() , set('a')) == 0

In [21]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: x.str.upper().str.replace("'", '').str.replace(' ','').map(_.split(";")).map(set)
y_pred = norm_split_set(test_predictions['decoded'])
y_pred

77337    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77339    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77341    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77343    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77345    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
                               ...
85775    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85777    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85779    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85781    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85783    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
Name: decoded, Length: 4224, dtype: object

In [22]:
y_true = norm_split_set(test_predictions['sd'])
y_true

77337    {S2D0:ABILENE,TEXASISSERVEDBYTHEABILENEREGIONA...
77339    {S2D1:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77341    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTCANBEFO...
77343    {S2D1:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77345    {S2D2:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
                               ...
85775    {S2D1:ESTABLISHEDIN1928,THESCHOOLOFBUSINESSAND...
85777    {S2D0:DENMARKISLEDBYTHEMONARCHYOFDEMARKANDTHEC...
85779    {S2D1:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85781    {S2D2:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85783    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
Name: sd, Length: 4224, dtype: object

In [23]:
len("d2s 1: ")

7

In [24]:
compute_rouge = lambda x,y: rouge.compute(references=[x], predictions=[y], use_stemmer=False, use_aggregator=False)
compute_rouge(["general kenobi"], "general kenobi")
y_pred = test_predictions.drop(columns=['input_ids','attention_mask','pred_ids','labels'])

chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.nl).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0][7:] # and the first prediction
    ])
)
chunked

[[['Abilene Regional Airport|city served|Abilene, Texas', 'Abilene Regional Airport|city served|Abilene, Texas'], 'Abilene Regional Airport serves the city of Abilene, Texas.'], [['Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas', 'Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas', 'Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas'], 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], [['Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R', 'Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R', 'Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R'], 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], [['Afonso Pena International Airport|i c a o  location  identifier|SBCT', 'Afonso Pena International Airport|i c a o  location  identifier|SBCT'], 'The ICAO location identifier of Afonso Pena International Airport is SBCT.'], [['Afonso Pena International Airport|city served|Curitiba', 'Afonso Pena International Airport|city served|Curitiba'], 'Afonso Pena International Airport serves the city of Curitiba.'], [['Al-Taqaddum Air Base|city served|Fallujah', 'Al-Taqaddum Air Base|city served|Fallujah'], 'Al-Taqaddum Air Base serves the city of Fallujah.'], [['Al-Taqaddum Air Base|runway length|3684.0', 'Al-Taqaddum Air Base|runway length|3684.0'], 'The runway length of Al-Taqaddum Air Base is 3684.0.'], [['Alderney Airport|runway name|14/32', 'Alderney Airport|runway name|14/32', 'Alderney Airport|runway name|14/32'], 'The runway name of Alderney Airport is 14/32.'], [['Allama Iqbal International Airport|runway length|3360.12', 'Allama Iqbal International Airport|runway length|3360.12', 'Allama Iqbal International Airport|runway length|3360.12'], 'The runway length of Allama Iqbal International Airport is 3360.12.'], [['Amsterdam Airport Schiphol|1st runway  number|18', 'Amsterdam Airport Schiphol|1st runway  number|18', 'Amsterdam Airport Schiphol|1st runway  number|18'], 'The 1st runway at Amsterdam Airport Schiphol is 18.'], [['Amsterdam Airport Schiphol|5th runway  surface type|Asphalt', 'Amsterdam Airport Schiphol|5th runway  surface type|Asphalt', 'Amsterdam Airport Schiphol|5th runway  surface type|Asphalt'], 'The 5th runway at Amsterdam Airport Schiphol is made of asphalt.'], [['Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan', 'Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan', 'Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan'], 'The runway name at Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], [['Andrews County Airport|elevation above the sea level (in metres)|973.0', 'Andrews County Airport|elevation above the sea level (in metres)|973.0'], 'Andrews County Airport is 973 metres above sea level.'], [['Andrews County Airport|owner|Andrews County, Texas', 'Andrews County Airport|owner|Andrews County, Texas', 'Andrews County Airport|owner|Andrews County, Texas'], 'Andrews County Airport is owned by Andrews County, Texas.'], [['Andrews County Airport|runway length|896.0'], 'The runway length of Andrews County Airport is 896.'], [['Angola International Airport|1st runway  surface type|Asphalt', 'Angola International Airport|1st runway  surface type|Asphalt', 'Angola International Airport|1st runway  surface type|Asphalt'], 'The 1st runway at Angola International Airport is made of asphalt.'], [['Antwerp International Airport|elevation above the sea level (in metres)|12.0', 'Antwerp International Airport|elevation above the sea level (in metres)|12.0'], 'Antwerp International Airport is 12,0 metres above sea level.'], [['Antwerp International Airport|operating organisation|Flemish Government', 'Antwerp International Airport|operating organisation|Flemish Government', 'Antwerp International Airport|operating organisation|Flemish Government'], 'The Antwerp International Airport is operated by the Flemish Government.'], [['Appleton International Airport|runway length|2439.0', 'Appleton International Airport|runway length|2439.0', 'Appleton International Airport|runway length|2439.0'], 'The runway length of Appleton International Airport is 2439.0.'], [['Ardmore Airport (New Zealand)|runway length|518.0', 'Ardmore Airport (New Zealand)|runway length|518.0', 'Ardmore Airport (New Zealand)|runway length|518.0'], 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], [['Ashgabat International Airport|i c a o  location  identifier|UTAA', 'Ashgabat International Airport|i c a o  location  identifier|UTAA'], 'The ICAO location identifier of Ashgabat International Airport is UTAA.'], [['Ashgabat International Airport|runway name|11/29', 'Ashgabat International Airport|runway name|11/29'], 'The runway name of Ashgabat International Airport is 11/29.'], [['Atlantic City International Airport|owner|South Jersey Transportation Authority', 'Atlantic City International Airport|owner|South Jersey Transportation Authority', 'Atlantic City International Airport|owner|South Jersey Transportation Authority'], 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], [['Atlantic City International Airport|runway name|13/31', 'Atlantic City International Airport|runway name|13/31', 'Atlantic City International Airport|runway name|13/31'], 'The runway name of Atlantic City International Airport is 13/31.'], [['Belgium|language|Dutch language', 'Belgium|language|Dutch language', 'Belgium|language|Dutch language'], 'The Dutch language is spoken in Belgium.'], [['Curitiba|is part of|South Region, Brazil'], 'Curitiba is part of the South Region, Brazil.'], [['Denmark|demonym|Danes', 'Denmark|demonym|Danes', 'Denmark|demonym|Danes'], "Denmark's demonym is Dunes."], [['Fallujah|country|Iraq', 'Fallujah|country|Iraq', 'Fallujah|country|Iraq'], 'Fallujah is from Iraq.'], [['Greenville, Wisconsin|country|United States', 'Greenville, Wisconsin|country|United States', 'Greenville, Wisconsin|country|United States'], 'Greenville, Wisconsin is in the United States.'], [['Greenville, Wisconsin|is part of|Grand Chute, Wisconsin', 'Greenville, Wisconsin|is part of|Grand Chute, Wisconsin', 'Greenville, Wisconsin|is part of|Grand Chute, Wisconsin'], 'Greenville is part of Grand Chute, Wisconsin.'], [['Iraq|language|Arabic', 'Iraq|language|Arabic'], 'Arabic is spoken in Iraq.'], [['Madrid|country|Spain', 'Madrid|country|Spain', 'Madrid|country|Spain'], 'Madrid is in Spain.'], [['Maple Ridge Township, Alpena County, Michigan|is part of|United States', 'Maple Ridge Township, Alpena County, Michigan|is part of|United States'], 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], [['Pakistan|leader name|Sardar Ayaz Sadiq'], 'Sardar Ayaz Sadiq is the leader of Pakistan.'], [['Port Authority of New York and New Jersey|region served|New Jersey', 'Port Authority of New York and New Jersey|region served|New Jersey', 'Port Authority of New York and New Jersey|region served|New Jersey'], 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], [['Texas|largest city|Houston'], 'Houston is the largest city in Texas.'], [['United States Air Force|battles|1986 United States bombing of Libya', 'United States Air Force|battles|1986 United States bombing of Libya', 'United States Air Force|battles|1986 United States bombing of Libya'], 'The United States Air Force fought in the United States bombing of Libya in 1986.'], [['United States Air Force|transport aircraft|Boeing C-17 Globemaster III', 'United States Air Force|transport aircraft|Boeing C-17 Globemaster III'], 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], [['Aaron Deer|record label|Kill Rock Stars', 'Aaron Deer|record label|Kill Rock Stars', 'Aaron Deer|record label|Kill Rock Stars'], 'Aaron Deer is signed to the record label Bill Rock Stars.'], [['Aaron Turner|genre|Progressive metal', 'Aaron Turner|genre|Progressive metal', 'Aaron Turner|genre|Progressive metal'], 'Aaron Turner is a progressive metal artist.'], [['Abradab|birth date|1978-11-12', 'Abradab|birth date|1978-11-12', 'Abradab|birth date|1978-11-12'], 'Abradab was born on 11 November 1978.'], [['Abradab|birth place|Poland', 'Abradab|birth place|Poland'], 'Abradab was born in Poland.'], [['Abradab|genre|Hip hop music', 'Abradab|genre|Hip hop music'], 'Abradab performs hip hop music.'], [['Agustin Barboza|genre|Guarania (music)', 'Agustin Barboza|genre|Guarania (music)'], 'Agustin Barboza performs Guarania music.'], [['Ahmet Ertegun|birth place|Istanbul, Turkey'], 'Ahmet Ertegun was born in Istanbul, Turkey.'], [['Alan Frew|genre|Rock music', 'Alan Frew|genre|Rock music', 'Alan Frew|genre|Rock music'], 'Alan Frew performs rock music.'], [['Albennie Jones|associated band/associated musical artist|Sammy Price'], 'Albennie Jones is associated with Sammy Price.'], [['Aleksandra Kovac|birth place|Yugoslavia', 'Aleksandra Kovac|birth place|Yugoslavia', 'Aleksandra Kovac|birth place|Yugoslavia'], 'Aleksandra Kovac was born in Yugoslavia.'], [['Aleksandra Kovac|genre|Rhythm and blues', 'Aleksandra Kovac|genre|Rhythm and blues', 'Aleksandra Kovac|genre|Rhythm and blues'], 'Aleksandra Kovac performs rhythm and blues music.'], [['Alex Day|genre|Synthpop', 'Alex Day|genre|Synthpop', 'Alex Day|genre|Synthpop'], 'Alex Day performs Synthpop music.'], [['Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes', 'Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes', 'Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes'], 'Alfredo Zitarrosa is associated with Hector Numa Moraes.'], [['Alfredo Zitarrosa|birth place|Montevideo', 'Alfredo Zitarrosa|birth place|Montevideo', 'Alfredo Zitarrosa|birth place|Montevideo'], 'Alfredo Zitarrosa was born in Montevideo.'], [['Alfredo Zitarrosa|death place|Uruguay'], 'Alfredo Zitarrosa died in Uruguay.'], [['Alfredo Zitarrosa|record label|RCA Records', 'Alfredo Zitarrosa|record label|RCA Records', 'Alfredo Zitarrosa|record label|RCA Records'], 'Alfredo Zitarrosa is signed to RCA Records.'], [['Alison ODonnell|genre|Jazz', 'Alison ODonnell|genre|Jazz'], "Alison O'Donnell performs jazz music."], [['Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp', 'Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp', 'Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp'], "Alison O'Donnell plays trumpet, bodhran, percussion and autoharp."], [['Allen Forrest|birth date|1981-02-04', 'Allen Forrest|birth date|1981-02-04', 'Allen Forrest|birth date|1981-02-04'], 'Allen Forrest was born on April 4th,1981-0.'], [['Alligator Records|location|Chicago', 'Alligator Records|location|Chicago', 'Alligator Records|location|Chicago'], 'Alligator Records is located in Chicago.'], [['Anders Osborne|associated band/associated musical artist|Johnny Sansone', 'Anders Osborne|associated band/associated musical artist|Johnny Sansone'], 'Anders Osborne is associated with Johnny Sansone.'], [['Anders Osborne|genre|Rhythm and blues', 'Anders Osborne|genre|Rhythm and blues', 'Anders Osborne|genre|Rhythm and blues'], 'Anders Osborne performs rhythm and blues music.'], [['Andra (singer)|genre|Rhythm and blues', 'Andra (singer)|genre|Rhythm and blues', 'Andra (singer)|genre|Rhythm and blues'], 'Andra is a rhythm and blues singer.'], [['Andrew Rayel|active years start year|2009', 'Andrew Rayel|active years start year|2009'], 'Andrew Rayel started his career in 2009.'], [['Andrew Rayel|associated band/associated musical artist|Christian Burns', 'Andrew Rayel|associated band/associated musical artist|Christian Burns'], 'Andrew Rayel is associated with Christian Burns.'], [['Andrew White (musician)|associated band/associated musical artist|Marry Banilow', 'Andrew White (musician)|associated band/associated musical artist|Marry Banilow'], 'Andrew White is associated with the musical artist Marry Banilow.'], [['Andrew White (musician)|record label|B-Unique Records', 'Andrew White (musician)|record label|B-Unique Records'], 'Andrew White is a musician signed to B-Unique Records.'], [['Christian Burns|instrument|Guitar', 'Christian Burns|instrument|Guitar'], 'Christian Burns plays the guitar.'], [['Hip hop music|stylistic origin|Funk', 'Hip hop music|stylistic origin|Funk', 'Hip hop music|stylistic origin|Funk'], 'Hip hop music has its stylistic origins in Funk.'], [['Indie rock|stylistic origin|New wave music', 'Indie rock|stylistic origin|New wave music'], 'Indie rock has its stylistic origins in New wave music.'], [['Manchester|is part of|Greater Manchester', 'Manchester|is part of|Greater Manchester', 'Manchester|is part of|Greater Manchester'], 'Manchester is part of Greater Manchester.'], [['Polydor Records|location|London', 'Polydor Records|location|London', 'Polydor Records|location|London'], 'Polydor Records is located in London.'], [['RCA Records|distributing company|Sony Music Entertainment', 'RCA Records|distributing company|Sony Music Entertainment'], 'RCA Records is distributed by Sonic Music Entertainment.'], [['Rock and roll|stylistic origin|Blues', 'Rock and roll|stylistic origin|Blues', 'Rock and roll|stylistic origin|Blues'], 'Rock and roll originated from the blues.'], [['Synthpop|stylistic origin|Pop music', 'Synthpop|stylistic origin|Pop music', 'Synthpop|stylistic origin|Pop music'], 'Synthpop has its stylistic origins in pop music.'], [['Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States'], 'Alan Bean is a United States national.'], [['Apollo 8|backup pilot|Buzz Aldrin', 'Apollo 8|backup pilot|Buzz Aldrin'], 'Buzz Aldrin is the backup pilot of Apollo 8.'], [['Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963'], 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a Sc.D.'], [['Buzz Aldrin|was a crew member of|Apollo 11', 'Buzz Aldrin|was a crew member of|Apollo 11', 'Buzz Aldrin|was a crew member of|Apollo 11'], 'Buzz Aldrin was a crew member of Apollo 11.'], [['Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963'], 'Buzz Aldrin was selected by NASA in 1963.'], [['California|gemstone|Benitoite', 'California|gemstone|Benitoite', 'California|gemstone|Benitoite', 'California|gemstone|Benitoite'], 'The granite of California is Benitoite.'], [['Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28'], 'Elliot See died on February 28, 1966.'], [['Elliot See|death place|St. Louis', 'Elliot See|death place|St. Louis'], 'Elliot See died in St. Louis.'], [['Elliot See|status|Deceased', 'Elliot See|status|Deceased', 'Elliot See|status|Deceased'], 'Elliot See is deceased.'], [['Aaron Hunt|club|SV Werder Bremen', 'Aaron Hunt|club|SV Werder Bremen', 'Aaron Hunt|club|SV Werder Bremen'], 'Aaron Hunt plays for SV Werder Bremen.'], [['Abner (footballer)|birth place|Brazil', 'Abner (footballer)|birth place|Brazil', 'Abner (footballer)|birth place|Brazil'], 'Abner was born in Brazil.'], [['Adam Maher|birth place|Netherlands'], 'Adam Maher was born in the Netherlands.'], [['Adam Maher|club|Netherlands national under-17 football team', 'Adam Maher|club|Netherlands national under-17 football team'], 'Adam Maher plays for the Netherlands national under 17 football team.'], [['Adam Maher|club|PSV Eindhoven'], 'Adam Maher plays for PSV Eindhoven.'], [['Ahmad Kadhim Assad|club|Iraq national football team', 'Ahmad Kadhim Assad|club|Iraq national football team', 'Ahmad Kadhim Assad|club|Iraq national football team'], 'Ahmad Kadhim Assad plays for the Iraq national football team.'], [['Akeem Adams|birth place|Point Fortin', 'Akeem Adams|birth place|Point Fortin'], 'Akeem Adams was born in Point Fortin.'], [['Akeem Dent|former team|Atlanta Falcons', 'Akeem Dent|former team|Atlanta Falcons'], "Akeem Dent's former team is the Atlanta Falcons."], [['Akeem Priestley|club|Connecticut Huskies', 'Akeem Priestley|club|Connecticut Huskies'], 'Akeem Priestley plays for Connecticut Huskies.'], [['Al-Zawraa SC|manager|Basim Qasim', 'Al-Zawraa SC|manager|Basim Qasim', 'Al-Zawraa SC|manager|Basim Qasim'], 'Basim Qasim is the manager of Al-Zawraa SC.'], [['Al Kharaitiyat SC|position|Qatar Stars League'], 'Al Kharaitiyat SC is in the Qatar Stars League.'], [['Alaa Abdul-Zahra|club|Sanat Mes Kerman F.C.', 'Alaa Abdul-Zahra|club|Sanat Mes Kerman F.C.'], 'Alaa Abdul-Zahra plays for Sanat Mes Kerman FC.'], [['Alan Martin (footballer)|club|Hamilton Academical F.C.', 'Alan Martin (footballer)|club|Hamilton Academical F.C.', 'Alan Martin (footballer)|club|Hamilton Academical F.C.'], 'Alan Martin played football for Hamilton Academical FC.'], [['Alan Martin (footballer)|club|Scotland national under-19 football team', 'Alan Martin (footballer)|club|Scotland national under-19 football team'], 'Alan Martin plays for the Scottish national under-19 football team.'], [['Aleksander Barkov, Jr.|birth date|1995-09-02', 'Aleksander Barkov, Jr.|birth date|1995-09-02'], 'Aleksander Barkov Jr was born on the 2nd September 1995.'], [['Aleksander Barkov, Jr.|height|1.905', 'Aleksander Barkov, Jr.|height|1.905', 'Aleksander Barkov, Jr.|height|1.905'], 'Aleksander Barkov Jr. is 1.905 metres tall.'], [['Aleksandr Prudnikov|birth date|1989-02-24', 'Aleksandr Prudnikov|birth date|1989-02-24', 'Aleksandr Prudnikov|birth date|1989-02-24'], 'Aleksandr Prudnikov was born on the 24th of February 1989.'], [['Aleksandr Prudnikov|club|FC Amkar Perm', 'Aleksandr Prudnikov|club|FC Amkar Perm'], 'Aleksandr Prudnikov plays for FC Amkar Perm.'], ...]

In [25]:
rouge_scores = (
  chunked.starmap(compute_rouge)
    # only one rouge per sample, so take the first of the values
    .map(lambda x: seq(x.items()).starmap(lambda x,y : {x:y[0]}))
    # rolling union on dictionaries since they are disjoint
    .map(lambda x: seq(x).reduce(lambda x, y: x | y))
    .to_pandas()
)
rouge_scores

        rouge1    rouge2    rougeL  rougeLsum
0     0.750000  0.428571  0.750000   0.750000
1     0.888889  0.823529  0.888889   0.888889
2     0.857143  0.631579  0.666667   0.666667
3     0.636364  0.400000  0.454545   0.454545
4     0.750000  0.428571  0.750000   0.750000
...        ...       ...       ...        ...
1595  0.643478  0.371681  0.417391   0.417391
1596  0.675325  0.373333  0.285714   0.285714
1597  0.496000  0.227642  0.304000   0.304000
1598  0.545455  0.277778  0.472727   0.472727
1599  0.500000  0.208955  0.382353   0.382353

[1600 rows x 4 columns]

In [26]:
rouge_scores.describe()

            rouge1       rouge2       rougeL    rougeLsum
count  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.589085     0.321559     0.470035     0.470035
std       0.124300     0.152282     0.153842     0.153842
min       0.227273     0.000000     0.176471     0.176471
25%       0.500000     0.222222     0.355556     0.355556
50%       0.580645     0.310728     0.444444     0.444444
75%       0.666667     0.400000     0.571429     0.571429
max       1.000000     1.000000     1.000000     1.000000

In [27]:
bleu = load('sacrebleu')
bleu
compute_bleu = lambda x,y: bleu.compute(references=[x], predictions=[y])

In [28]:
bleu_scores = (
  chunked.starmap(compute_bleu)
    .to_pandas()
)

In [29]:
bleu_scores

,score,counts,totals,precisions,bp,sys_len,ref_len
0,24.384183,"[7, 4, 2, 0]","[11, 10, 9, 8]","[63.63636363636363, 40.0, 22.22222222222222, 6...",1.000000,11,10
1,70.982323,"[17, 15, 13, 11]","[21, 20, 19, 18]","[80.95238095238095, 75.0, 68.42105263157895, 6...",1.000000,21,20
2,31.170907,"[9, 6, 3, 1]","[13, 12, 11, 10]","[69.23076923076923, 50.0, 27.272727272727273, ...",1.000000,13,11
3,24.107473,"[7, 4, 2, 1]","[12, 11, 10, 9]","[58.333333333333336, 36.36363636363637, 20.0, ...",0.920044,12,13
4,29.071537,"[6, 3, 2, 1]","[10, 9, 8, 7]","[60.0, 33.333333333333336, 25.0, 14.2857142857...",1.000000,10,9
...,...,...,...,...,...,...,...
1595,21.849253,"[37, 21, 14, 8]","[61, 60, 59, 58]","[60.65573770491803, 35.0, 23.728813559322035, ...",0.756776,61,78
1596,12.362695,"[24, 12, 5, 2]","[42, 41, 40, 39]","[57.142857142857146, 29.26829268292683, 12.5, ...",0.683210,42,58
1597,8.453482,"[29, 14, 10, 7]","[46, 45, 44, 43]","[63.04347826086956, 31.11111111111111, 22.7272...",0.289636,46,103
1598,16.348419,"[29, 15, 11, 7]","[55, 54, 53, 52]","[52.72727272727273, 27.77777777777778, 20.7547...",0.646383,55,79
1599,7.438966,"[30, 13, 9, 7]","[49, 48, 47, 46]","[61.224489795918366, 27.083333333333332, 19.14...",0.282153,49,111

In [30]:
bertscore = load('bertscore')
compute_bert = lambda x,y: bertscore.compute(predictions=[y], references=[x], lang="en", model_type="distilbert-base-uncased" )

In [31]:
bert_scores = (
 chunked
   .starmap(compute_bert)
   .to_pandas()
   .drop(columns='hashcode')
   .applymap(np.mean)
)

In [32]:
prepend_name_to_cols = lambda x,y : x.rename(columns=lambda e: y+"_"+e)
prepend_name_to_cols(bert_scores, 'bert')
all_scores = (
  seq(bert_scores, bleu_scores, rouge_scores)
    .zip(['bert','bleu','rouge'])
    .starmap(prepend_name_to_cols)
)
scores_df = pd.concat(all_scores, axis=1)
scores_df

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_counts,bleu_totals,bleu_precisions,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
0,0.894634,0.867282,0.880746,24.384183,"[7, 4, 2, 0]","[11, 10, 9, 8]","[63.63636363636363, 40.0, 22.22222222222222, 6...",1.000000,11,10,0.750000,0.428571,0.750000,0.750000
1,0.961804,0.954445,0.958110,70.982323,"[17, 15, 13, 11]","[21, 20, 19, 18]","[80.95238095238095, 75.0, 68.42105263157895, 6...",1.000000,21,20,0.888889,0.823529,0.888889,0.888889
2,0.924742,0.933685,0.929192,31.170907,"[9, 6, 3, 1]","[13, 12, 11, 10]","[69.23076923076923, 50.0, 27.272727272727273, ...",1.000000,13,11,0.857143,0.631579,0.666667,0.666667
3,0.893098,0.842519,0.867072,24.107473,"[7, 4, 2, 1]","[12, 11, 10, 9]","[58.333333333333336, 36.36363636363637, 20.0, ...",0.920044,12,13,0.636364,0.400000,0.454545,0.454545
4,0.902310,0.882575,0.892334,29.071537,"[6, 3, 2, 1]","[10, 9, 8, 7]","[60.0, 33.333333333333336, 25.0, 14.2857142857...",1.000000,10,9,0.750000,0.428571,0.750000,0.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.848056,0.822139,0.834896,21.849253,"[37, 21, 14, 8]","[61, 60, 59, 58]","[60.65573770491803, 35.0, 23.728813559322035, ...",0.756776,61,78,0.643478,0.371681,0.417391,0.417391
1596,0.841947,0.821407,0.831550,12.362695,"[24, 12, 5, 2]","[42, 41, 40, 39]","[57.142857142857146, 29.26829268292683, 12.5, ...",0.683210,42,58,0.675325,0.373333,0.285714,0.285714
1597,0.827888,0.823977,0.825928,8.453482,"[29, 14, 10, 7]","[46, 45, 44, 43]","[63.04347826086956, 31.11111111111111, 22.7272...",0.289636,46,103,0.496000,0.227642,0.304000,0.304000
1598,0.820088,0.810658,0.815346,16.348419,"[29, 15, 11, 7]","[55, 54, 53, 52]","[52.72727272727273, 27.77777777777778, 20.7547...",0.646383,55,79,0.545455,0.277778,0.472727,0.472727
1599,0.840654,0.839461,0.840057,7.438966,"[30, 13, 9, 7]","[49, 48, 47, 46]","[61.224489795918366, 27.083333333333332, 19.14...",0.282153,49,111,0.500000,0.208955,0.382353,0.382353

In [33]:
scores_df.describe()

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.848870,0.815350,0.831574,14.536473,0.767622,21.786250,28.830000,0.589085,0.321559,0.470035,0.470035
std,0.038692,0.043724,0.039450,10.716554,0.206756,10.993286,16.865242,0.124300,0.152282,0.153842,0.153842
min,0.731854,0.683687,0.712789,0.625143,0.107446,5.000000,5.000000,0.227273,0.000000,0.176471,0.176471
25%,0.824437,0.785798,0.805452,7.189701,0.630018,13.000000,14.000000,0.500000,0.222222,0.355556,0.355556
50%,0.847829,0.815189,0.829826,11.731175,0.791890,20.000000,28.000000,0.580645,0.310728,0.444444,0.444444
75%,0.872457,0.844189,0.857341,18.579157,1.000000,29.000000,40.000000,0.666667,0.400000,0.571429,0.571429
max,0.967394,0.958100,0.958110,73.587363,1.000000,76.000000,111.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
compute_rouge = lambda x,y: rouge.compute(references=[x], predictions=[y], use_stemmer=False, use_aggregator=False)
compute_rouge(["general kenobi"], "general kenobi")
y_pred = test_predictions.drop(columns=['input_ids','attention_mask','pred_ids','labels'])

chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.nl).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0][7:] # and the first prediction
    ])
)
chunked

[[['Abilene Regional Airport|city served|Abilene, Texas', 'Abilene Regional Airport|city served|Abilene, Texas'], 'Abilene Regional Airport serves the city of Abilene, Texas.'], [['Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas', 'Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas', 'Adolfo Suarez Madrid-Barajas Airport|location|Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas'], 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], [['Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R', 'Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R', 'Adolfo Suarez Madrid-Barajas Airport|runway name|18L/36R'], 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], [['Afonso Pena International Airport|i c a o  location  identifier|SBCT', 'Afonso Pena International Airport|i c a o  location  identifier|SBCT'], 'The ICAO location identifier of Afonso Pena International Airport is SBCT.'], [['Afonso Pena International Airport|city served|Curitiba', 'Afonso Pena International Airport|city served|Curitiba'], 'Afonso Pena International Airport serves the city of Curitiba.'], [['Al-Taqaddum Air Base|city served|Fallujah', 'Al-Taqaddum Air Base|city served|Fallujah'], 'Al-Taqaddum Air Base serves the city of Fallujah.'], [['Al-Taqaddum Air Base|runway length|3684.0', 'Al-Taqaddum Air Base|runway length|3684.0'], 'The runway length of Al-Taqaddum Air Base is 3684.0.'], [['Alderney Airport|runway name|14/32', 'Alderney Airport|runway name|14/32', 'Alderney Airport|runway name|14/32'], 'The runway name of Alderney Airport is 14/32.'], [['Allama Iqbal International Airport|runway length|3360.12', 'Allama Iqbal International Airport|runway length|3360.12', 'Allama Iqbal International Airport|runway length|3360.12'], 'The runway length of Allama Iqbal International Airport is 3360.12.'], [['Amsterdam Airport Schiphol|1st runway  number|18', 'Amsterdam Airport Schiphol|1st runway  number|18', 'Amsterdam Airport Schiphol|1st runway  number|18'], 'The 1st runway at Amsterdam Airport Schiphol is 18.'], [['Amsterdam Airport Schiphol|5th runway  surface type|Asphalt', 'Amsterdam Airport Schiphol|5th runway  surface type|Asphalt', 'Amsterdam Airport Schiphol|5th runway  surface type|Asphalt'], 'The 5th runway at Amsterdam Airport Schiphol is made of asphalt.'], [['Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan', 'Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan', 'Amsterdam Airport Schiphol|runway name|06/24 Kaagbaan'], 'The runway name at Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], [['Andrews County Airport|elevation above the sea level (in metres)|973.0', 'Andrews County Airport|elevation above the sea level (in metres)|973.0'], 'Andrews County Airport is 973 metres above sea level.'], [['Andrews County Airport|owner|Andrews County, Texas', 'Andrews County Airport|owner|Andrews County, Texas', 'Andrews County Airport|owner|Andrews County, Texas'], 'Andrews County Airport is owned by Andrews County, Texas.'], [['Andrews County Airport|runway length|896.0'], 'The runway length of Andrews County Airport is 896.'], [['Angola International Airport|1st runway  surface type|Asphalt', 'Angola International Airport|1st runway  surface type|Asphalt', 'Angola International Airport|1st runway  surface type|Asphalt'], 'The 1st runway at Angola International Airport is made of asphalt.'], [['Antwerp International Airport|elevation above the sea level (in metres)|12.0', 'Antwerp International Airport|elevation above the sea level (in metres)|12.0'], 'Antwerp International Airport is 12,0 metres above sea level.'], [['Antwerp International Airport|operating organisation|Flemish Government', 'Antwerp International Airport|operating organisation|Flemish Government', 'Antwerp International Airport|operating organisation|Flemish Government'], 'The Antwerp International Airport is operated by the Flemish Government.'], [['Appleton International Airport|runway length|2439.0', 'Appleton International Airport|runway length|2439.0', 'Appleton International Airport|runway length|2439.0'], 'The runway length of Appleton International Airport is 2439.0.'], [['Ardmore Airport (New Zealand)|runway length|518.0', 'Ardmore Airport (New Zealand)|runway length|518.0', 'Ardmore Airport (New Zealand)|runway length|518.0'], 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], [['Ashgabat International Airport|i c a o  location  identifier|UTAA', 'Ashgabat International Airport|i c a o  location  identifier|UTAA'], 'The ICAO location identifier of Ashgabat International Airport is UTAA.'], [['Ashgabat International Airport|runway name|11/29', 'Ashgabat International Airport|runway name|11/29'], 'The runway name of Ashgabat International Airport is 11/29.'], [['Atlantic City International Airport|owner|South Jersey Transportation Authority', 'Atlantic City International Airport|owner|South Jersey Transportation Authority', 'Atlantic City International Airport|owner|South Jersey Transportation Authority'], 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], [['Atlantic City International Airport|runway name|13/31', 'Atlantic City International Airport|runway name|13/31', 'Atlantic City International Airport|runway name|13/31'], 'The runway name of Atlantic City International Airport is 13/31.'], [['Belgium|language|Dutch language', 'Belgium|language|Dutch language', 'Belgium|language|Dutch language'], 'The Dutch language is spoken in Belgium.'], [['Curitiba|is part of|South Region, Brazil'], 'Curitiba is part of the South Region, Brazil.'], [['Denmark|demonym|Danes', 'Denmark|demonym|Danes', 'Denmark|demonym|Danes'], "Denmark's demonym is Dunes."], [['Fallujah|country|Iraq', 'Fallujah|country|Iraq', 'Fallujah|country|Iraq'], 'Fallujah is from Iraq.'], [['Greenville, Wisconsin|country|United States', 'Greenville, Wisconsin|country|United States', 'Greenville, Wisconsin|country|United States'], 'Greenville, Wisconsin is in the United States.'], [['Greenville, Wisconsin|is part of|Grand Chute, Wisconsin', 'Greenville, Wisconsin|is part of|Grand Chute, Wisconsin', 'Greenville, Wisconsin|is part of|Grand Chute, Wisconsin'], 'Greenville is part of Grand Chute, Wisconsin.'], [['Iraq|language|Arabic', 'Iraq|language|Arabic'], 'Arabic is spoken in Iraq.'], [['Madrid|country|Spain', 'Madrid|country|Spain', 'Madrid|country|Spain'], 'Madrid is in Spain.'], [['Maple Ridge Township, Alpena County, Michigan|is part of|United States', 'Maple Ridge Township, Alpena County, Michigan|is part of|United States'], 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], [['Pakistan|leader name|Sardar Ayaz Sadiq'], 'Sardar Ayaz Sadiq is the leader of Pakistan.'], [['Port Authority of New York and New Jersey|region served|New Jersey', 'Port Authority of New York and New Jersey|region served|New Jersey', 'Port Authority of New York and New Jersey|region served|New Jersey'], 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], [['Texas|largest city|Houston'], 'Houston is the largest city in Texas.'], [['United States Air Force|battles|1986 United States bombing of Libya', 'United States Air Force|battles|1986 United States bombing of Libya', 'United States Air Force|battles|1986 United States bombing of Libya'], 'The United States Air Force fought in the United States bombing of Libya in 1986.'], [['United States Air Force|transport aircraft|Boeing C-17 Globemaster III', 'United States Air Force|transport aircraft|Boeing C-17 Globemaster III'], 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], [['Aaron Deer|record label|Kill Rock Stars', 'Aaron Deer|record label|Kill Rock Stars', 'Aaron Deer|record label|Kill Rock Stars'], 'Aaron Deer is signed to the record label Bill Rock Stars.'], [['Aaron Turner|genre|Progressive metal', 'Aaron Turner|genre|Progressive metal', 'Aaron Turner|genre|Progressive metal'], 'Aaron Turner is a progressive metal artist.'], [['Abradab|birth date|1978-11-12', 'Abradab|birth date|1978-11-12', 'Abradab|birth date|1978-11-12'], 'Abradab was born on 11 November 1978.'], [['Abradab|birth place|Poland', 'Abradab|birth place|Poland'], 'Abradab was born in Poland.'], [['Abradab|genre|Hip hop music', 'Abradab|genre|Hip hop music'], 'Abradab performs hip hop music.'], [['Agustin Barboza|genre|Guarania (music)', 'Agustin Barboza|genre|Guarania (music)'], 'Agustin Barboza performs Guarania music.'], [['Ahmet Ertegun|birth place|Istanbul, Turkey'], 'Ahmet Ertegun was born in Istanbul, Turkey.'], [['Alan Frew|genre|Rock music', 'Alan Frew|genre|Rock music', 'Alan Frew|genre|Rock music'], 'Alan Frew performs rock music.'], [['Albennie Jones|associated band/associated musical artist|Sammy Price'], 'Albennie Jones is associated with Sammy Price.'], [['Aleksandra Kovac|birth place|Yugoslavia', 'Aleksandra Kovac|birth place|Yugoslavia', 'Aleksandra Kovac|birth place|Yugoslavia'], 'Aleksandra Kovac was born in Yugoslavia.'], [['Aleksandra Kovac|genre|Rhythm and blues', 'Aleksandra Kovac|genre|Rhythm and blues', 'Aleksandra Kovac|genre|Rhythm and blues'], 'Aleksandra Kovac performs rhythm and blues music.'], [['Alex Day|genre|Synthpop', 'Alex Day|genre|Synthpop', 'Alex Day|genre|Synthpop'], 'Alex Day performs Synthpop music.'], [['Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes', 'Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes', 'Alfredo Zitarrosa|associated band/associated musical artist|Hector Numa Moraes'], 'Alfredo Zitarrosa is associated with Hector Numa Moraes.'], [['Alfredo Zitarrosa|birth place|Montevideo', 'Alfredo Zitarrosa|birth place|Montevideo', 'Alfredo Zitarrosa|birth place|Montevideo'], 'Alfredo Zitarrosa was born in Montevideo.'], [['Alfredo Zitarrosa|death place|Uruguay'], 'Alfredo Zitarrosa died in Uruguay.'], [['Alfredo Zitarrosa|record label|RCA Records', 'Alfredo Zitarrosa|record label|RCA Records', 'Alfredo Zitarrosa|record label|RCA Records'], 'Alfredo Zitarrosa is signed to RCA Records.'], [['Alison ODonnell|genre|Jazz', 'Alison ODonnell|genre|Jazz'], "Alison O'Donnell performs jazz music."], [['Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp', 'Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp', 'Alison ODonnell|instrument|Voice, bodhran, percussion, autoharp'], "Alison O'Donnell plays trumpet, bodhran, percussion and autoharp."], [['Allen Forrest|birth date|1981-02-04', 'Allen Forrest|birth date|1981-02-04', 'Allen Forrest|birth date|1981-02-04'], 'Allen Forrest was born on April 4th,1981-0.'], [['Alligator Records|location|Chicago', 'Alligator Records|location|Chicago', 'Alligator Records|location|Chicago'], 'Alligator Records is located in Chicago.'], [['Anders Osborne|associated band/associated musical artist|Johnny Sansone', 'Anders Osborne|associated band/associated musical artist|Johnny Sansone'], 'Anders Osborne is associated with Johnny Sansone.'], [['Anders Osborne|genre|Rhythm and blues', 'Anders Osborne|genre|Rhythm and blues', 'Anders Osborne|genre|Rhythm and blues'], 'Anders Osborne performs rhythm and blues music.'], [['Andra (singer)|genre|Rhythm and blues', 'Andra (singer)|genre|Rhythm and blues', 'Andra (singer)|genre|Rhythm and blues'], 'Andra is a rhythm and blues singer.'], [['Andrew Rayel|active years start year|2009', 'Andrew Rayel|active years start year|2009'], 'Andrew Rayel started his career in 2009.'], [['Andrew Rayel|associated band/associated musical artist|Christian Burns', 'Andrew Rayel|associated band/associated musical artist|Christian Burns'], 'Andrew Rayel is associated with Christian Burns.'], [['Andrew White (musician)|associated band/associated musical artist|Marry Banilow', 'Andrew White (musician)|associated band/associated musical artist|Marry Banilow'], 'Andrew White is associated with the musical artist Marry Banilow.'], [['Andrew White (musician)|record label|B-Unique Records', 'Andrew White (musician)|record label|B-Unique Records'], 'Andrew White is a musician signed to B-Unique Records.'], [['Christian Burns|instrument|Guitar', 'Christian Burns|instrument|Guitar'], 'Christian Burns plays the guitar.'], [['Hip hop music|stylistic origin|Funk', 'Hip hop music|stylistic origin|Funk', 'Hip hop music|stylistic origin|Funk'], 'Hip hop music has its stylistic origins in Funk.'], [['Indie rock|stylistic origin|New wave music', 'Indie rock|stylistic origin|New wave music'], 'Indie rock has its stylistic origins in New wave music.'], [['Manchester|is part of|Greater Manchester', 'Manchester|is part of|Greater Manchester', 'Manchester|is part of|Greater Manchester'], 'Manchester is part of Greater Manchester.'], [['Polydor Records|location|London', 'Polydor Records|location|London', 'Polydor Records|location|London'], 'Polydor Records is located in London.'], [['RCA Records|distributing company|Sony Music Entertainment', 'RCA Records|distributing company|Sony Music Entertainment'], 'RCA Records is distributed by Sonic Music Entertainment.'], [['Rock and roll|stylistic origin|Blues', 'Rock and roll|stylistic origin|Blues', 'Rock and roll|stylistic origin|Blues'], 'Rock and roll originated from the blues.'], [['Synthpop|stylistic origin|Pop music', 'Synthpop|stylistic origin|Pop music', 'Synthpop|stylistic origin|Pop music'], 'Synthpop has its stylistic origins in pop music.'], [['Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States', 'Alan Bean|nationality|United States'], 'Alan Bean is a United States national.'], [['Apollo 8|backup pilot|Buzz Aldrin', 'Apollo 8|backup pilot|Buzz Aldrin'], 'Buzz Aldrin is the backup pilot of Apollo 8.'], [['Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963', 'Buzz Aldrin|alma mater|Massachusetts Institute of Technology, Sc.D. 1963'], 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a Sc.D.'], [['Buzz Aldrin|was a crew member of|Apollo 11', 'Buzz Aldrin|was a crew member of|Apollo 11', 'Buzz Aldrin|was a crew member of|Apollo 11'], 'Buzz Aldrin was a crew member of Apollo 11.'], [['Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963', 'Buzz Aldrin|was selected by  n a s a|1963'], 'Buzz Aldrin was selected by NASA in 1963.'], [['California|gemstone|Benitoite', 'California|gemstone|Benitoite', 'California|gemstone|Benitoite', 'California|gemstone|Benitoite'], 'The granite of California is Benitoite.'], [['Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28', 'Elliot See|death date|1966-02-28'], 'Elliot See died on February 28, 1966.'], [['Elliot See|death place|St. Louis', 'Elliot See|death place|St. Louis'], 'Elliot See died in St. Louis.'], [['Elliot See|status|Deceased', 'Elliot See|status|Deceased', 'Elliot See|status|Deceased'], 'Elliot See is deceased.'], [['Aaron Hunt|club|SV Werder Bremen', 'Aaron Hunt|club|SV Werder Bremen', 'Aaron Hunt|club|SV Werder Bremen'], 'Aaron Hunt plays for SV Werder Bremen.'], [['Abner (footballer)|birth place|Brazil', 'Abner (footballer)|birth place|Brazil', 'Abner (footballer)|birth place|Brazil'], 'Abner was born in Brazil.'], [['Adam Maher|birth place|Netherlands'], 'Adam Maher was born in the Netherlands.'], [['Adam Maher|club|Netherlands national under-17 football team', 'Adam Maher|club|Netherlands national under-17 football team'], 'Adam Maher plays for the Netherlands national under 17 football team.'], [['Adam Maher|club|PSV Eindhoven'], 'Adam Maher plays for PSV Eindhoven.'], [['Ahmad Kadhim Assad|club|Iraq national football team', 'Ahmad Kadhim Assad|club|Iraq national football team', 'Ahmad Kadhim Assad|club|Iraq national football team'], 'Ahmad Kadhim Assad plays for the Iraq national football team.'], [['Akeem Adams|birth place|Point Fortin', 'Akeem Adams|birth place|Point Fortin'], 'Akeem Adams was born in Point Fortin.'], [['Akeem Dent|former team|Atlanta Falcons', 'Akeem Dent|former team|Atlanta Falcons'], "Akeem Dent's former team is the Atlanta Falcons."], [['Akeem Priestley|club|Connecticut Huskies', 'Akeem Priestley|club|Connecticut Huskies'], 'Akeem Priestley plays for Connecticut Huskies.'], [['Al-Zawraa SC|manager|Basim Qasim', 'Al-Zawraa SC|manager|Basim Qasim', 'Al-Zawraa SC|manager|Basim Qasim'], 'Basim Qasim is the manager of Al-Zawraa SC.'], [['Al Kharaitiyat SC|position|Qatar Stars League'], 'Al Kharaitiyat SC is in the Qatar Stars League.'], [['Alaa Abdul-Zahra|club|Sanat Mes Kerman F.C.', 'Alaa Abdul-Zahra|club|Sanat Mes Kerman F.C.'], 'Alaa Abdul-Zahra plays for Sanat Mes Kerman FC.'], [['Alan Martin (footballer)|club|Hamilton Academical F.C.', 'Alan Martin (footballer)|club|Hamilton Academical F.C.', 'Alan Martin (footballer)|club|Hamilton Academical F.C.'], 'Alan Martin played football for Hamilton Academical FC.'], [['Alan Martin (footballer)|club|Scotland national under-19 football team', 'Alan Martin (footballer)|club|Scotland national under-19 football team'], 'Alan Martin plays for the Scottish national under-19 football team.'], [['Aleksander Barkov, Jr.|birth date|1995-09-02', 'Aleksander Barkov, Jr.|birth date|1995-09-02'], 'Aleksander Barkov Jr was born on the 2nd September 1995.'], [['Aleksander Barkov, Jr.|height|1.905', 'Aleksander Barkov, Jr.|height|1.905', 'Aleksander Barkov, Jr.|height|1.905'], 'Aleksander Barkov Jr. is 1.905 metres tall.'], [['Aleksandr Prudnikov|birth date|1989-02-24', 'Aleksandr Prudnikov|birth date|1989-02-24', 'Aleksandr Prudnikov|birth date|1989-02-24'], 'Aleksandr Prudnikov was born on the 24th of February 1989.'], [['Aleksandr Prudnikov|club|FC Amkar Perm', 'Aleksandr Prudnikov|club|FC Amkar Perm'], 'Aleksandr Prudnikov plays for FC Amkar Perm.'], ...]

In [35]:
preds_raw = pd.read_pickle(pkl)
test_predictions = preds_raw[preds_raw.task == 'd2s']
test_predictions

,record_idx,seed_number,subset,category,split_index,sd,nl,task,input_ids,attention_mask,labels,pred_ids,decoded
77336,14495,0,test,Airport,0,d2s 0: Abilene Regional Airport|city served|Ab...,"Abilene, Texas is served by the Abilene region...",d2s,"[891, 23, 14205, 6, 2514, 19, 2098, 57, 8, 891...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 891, 23, 14205, 76...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...
77338,14495,1,test,Airport,0,d2s 1: Abilene Regional Airport|city served|Ab...,Abilene Regional Airport serves the city of Ab...,d2s,"[891, 23, 14205, 7676, 5735, 4657, 8, 690, 13,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 891, 23, 14205, 7676,...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...
77340,14496,0,test,Airport,1,d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport can be fo...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 89, ...","[0, 3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, ...",d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...
77342,14496,1,test,Airport,1,d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...
77344,14496,2,test,Airport,1,d2s 2: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85774,16092,1,test,University,1597,d2s 1: School of Business and Social Sciences ...,"Established in 1928, the School of Business an...",d2s,"[25275, 16, 29004, 6, 8, 1121, 13, 1769, 11, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...
85776,16093,0,test,University,1598,d2s 0: School of Business and Social Sciences ...,Denmark is led by the Monarchy of Demark and t...,d2s,"[18001, 19, 2237, 57, 8, 2963, 7064, 63, 13, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...
85778,16093,1,test,University,1598,d2s 1: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...
85780,16093,2,test,University,1598,d2s 2: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...
85782,16094,0,test,University,1599,d2s 0: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11...",d2s 1: School of Business and Social Sciences ...

In [36]:
preds_raw = pd.read_pickle(pkl)
test_predictions = preds_raw[preds_raw.task == 's2d']
test_predictions

,record_idx,seed_number,subset,category,split_index,sd,nl,task,input_ids,attention_mask,labels,pred_ids,decoded
77337,14495,0,test,Airport,0,"s2d 0: Abilene, Texas is served by the Abilene...","Abilene Regional Airport|city served|Abilene, ...",s2d,"[891, 23, 14205, 7676, 5735, 9175, 6726, 2098,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 3, 632, 10, 891, 23, 14205, 6,...","[0, 3, 7, 357, 26, 3, 632, 10, 891, 23, 14205,...",s2d 0: Abilene Regional Airport serves the cit...
77339,14495,1,test,Airport,0,s2d 1: Abilene Regional Airport serves the cit...,"Abilene Regional Airport|city served|Abilene, ...",s2d,"[891, 23, 14205, 7676, 5735, 9175, 6726, 2098,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 209, 10, 891, 23, 14205, 7676,...","[0, 3, 7, 357, 26, 3, 632, 10, 891, 23, 14205,...",s2d 0: Abilene Regional Airport serves the cit...
77341,14496,0,test,Airport,1,s2d 0: Adolfo Suarez Madrid-Barajas Airport ca...,Adolfo Suarez Madrid-Barajas Airport|location|...,s2d,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 3, 632, 10, 1980, 32, 40, 89, ...","[0, 3, 7, 357, 26, 3, 632, 10, 1980, 32, 40, 8...",s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
77343,14496,1,test,Airport,1,s2d 1: Adolfo Suarez Madrid-Barajas airport is...,Adolfo Suarez Madrid-Barajas Airport|location|...,s2d,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 209, 10, 1980, 32, 40, 89, 32,...","[0, 3, 7, 357, 26, 3, 632, 10, 1980, 32, 40, 8...",s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
77345,14496,2,test,Airport,1,s2d 2: Adolfo Suarez Madrid-Barajas Airport is...,Adolfo Suarez Madrid-Barajas Airport|location|...,s2d,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 204, 10, 1980, 32, 40, 89, 32,...","[0, 3, 7, 357, 26, 3, 632, 10, 1980, 32, 40, 8...",s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85775,16092,1,test,University,1597,"s2d 1: Established in 1928, the School of Busi...",School of Business and Social Sciences at the ...,s2d,"[1121, 13, 1769, 11, 2730, 9226, 44, 8, 71, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 209, 10, 25275, 16, 29004, 6, ...","[0, 3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1...",s2d 0: The School of Business and Social Scien...
85777,16093,0,test,University,1598,s2d 0: Denmark is led by the Monarchy of Demar...,School of Business and Social Sciences at the ...,s2d,"[1121, 13, 1769, 11, 2730, 9226, 44, 8, 71, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 3, 632, 10, 18001, 19, 2237, 5...","[0, 3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1...",s2d 0: The School of Business and Social Scien...
85779,16093,1,test,University,1598,s2d 1: The School of Business and Social Scien...,School of Business and Social Sciences at the ...,s2d,"[1121, 13, 1769, 11, 2730, 9226, 44, 8, 71, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 209, 10, 37, 1121, 13, 1769, 1...","[0, 3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1...",s2d 0: The School of Business and Social Scien...
85781,16093,2,test,University,1598,s2d 2: The School of Business and Social Scien...,School of Business and Social Sciences at the ...,s2d,"[1121, 13, 1769, 11, 2730, 9226, 44, 8, 71, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 204, 10, 37, 1121, 13, 1769, 1...","[0, 3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1...",s2d 0: The School of Business and Social Scien...
85783,16094,0,test,University,1599,s2d 0: The School of Business and Social Scien...,School of Business and Social Sciences at the ...,s2d,"[1121, 13, 1769, 11, 2730, 9226, 44, 8, 71, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1769...","[0, 3, 7, 357, 26, 3, 632, 10, 37, 1121, 13, 1...",s2d 0: The School of Business and Social Scien...

In [37]:
compute_rouge = lambda x,y: rouge.compute(references=[x], predictions=[y], use_stemmer=False, use_aggregator=False)
compute_rouge(["general kenobi"], "general kenobi")
y_pred = test_predictions.drop(columns=['input_ids','attention_mask','pred_ids','labels'])

In [38]:
chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.sd).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0][7:] # and the first prediction
    ])
)
chunked

[[['s2d 0: Abilene, Texas is served by the Abilene regional airport.', 's2d 1: Abilene Regional Airport serves the city of Abilene in Texas.'], 'Abilene Regional Airport serves the city of Abilene, Texas.'], [['s2d 0: Adolfo Suarez Madrid-Barajas Airport can be found in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 's2d 1: Adolfo Suarez Madrid-Barajas airport is located at Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 's2d 2: Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], [['s2d 0: The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.', 's2d 1: The runway name at Adolfo Suarez Madrid-Barajas airport is 18L/36R.', 's2d 2: The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], [['s2d 0: Afonso Pena International Airport ICAO Location Idenitifier is SBCT.', 's2d 1: SBCT is the ICAO location identifier of Afonso Pena International Airport.'], 'The ICAO location identifier of Afonso Pena International Airport is SBCT.'], [['s2d 0: Afonso Pena International Airport serves the city of Curitiba.', 's2d 1: Afonso Pena International Airport serves Curitiba.'], 'Afonso Pena International Airport serves the city of Curitiba.'], [['s2d 0: The Al Taqaddum Air Base serves the city of Fallujah.', 's2d 1: Al-Taqaddum Air Base serves the city of Fallujah.'], 'Al-Taqaddum Air Base serves the city of Fallujah.'], [['s2d 0: The runway length of Al-Taqaddum Air Base is 3684.0.', 's2d 1: The length of the runway at Al-Taqaddum Air Base is 3684.0.'], 'The runway length of Al-Taqaddum Air Base is 3684.0.'], [['s2d 0: Alderney Airport runway name is 14/32.', 's2d 1: 14/32 is the runway name of Alderney Airport.', 's2d 2: The runway name of Alderney Airport is 14/32.'], 'The runway name of Alderney Airport is 14/32.'], [['s2d 0: The runway length at Allama Iqbal International Airport is 3,360.12.', 's2d 1: The runway at Allama Iqbal International Airport has a length of 3360.12.', 's2d 2: The runway at Allama Iqbal International Airport is 3360.12 long.'], 'The runway length of Allama Iqbal International Airport is 3360.12.'], [["s2d 0: The first runway at Amsterdam's Schiphol Airport is known as Number 18.", "s2d 1: The Amsterdam Airport Schiphol's 1st runway number is 18.", 's2d 2: The number of the 1st runway at Amsterdam Airport Schiphol is 18.'], 'The 1st runway at Amsterdam Airport Schiphol is 18.'], [['s2d 0: The 5th runway at Amsterdam airport Schiphol has an asphalt surfacing.', 's2d 1: The fifth runway of Amsterdam Airport Schiphol has an asphalt surface.', 's2d 2: The 5th runway of the Amsterdam Airport Schiphol is asphalt.'], 'The 5th runway at Amsterdam Airport Schiphol is made of asphalt.'], [['s2d 0: Amsterdam Airport Schiphol runway name is 06/24 Kaagbaan.', 's2d 1: 06/24, Kaagbaan, is the runway name of Amsterdam Airport Schiphol.', 's2d 2: The runway name of Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], 'The runway name at Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], [['s2d 0: Andrews County Airport is 973 metres above sea level.', "s2d 1: Andrews airport's is 973.0 above sea level."], 'Andrews County Airport is 973 metres above sea level.'], [['s2d 0: The Andrews County Airport is owned by Andrews County, Texas.', 's2d 1: The owner of Andrews County airport is Andrews County, Texas.', 's2d 2: Andrews County Airport is owned by Andrews County, Texas.'], 'Andrews County Airport is owned by Andrews County, Texas.'], [['s2d 0: The runway length of Andrews County Airport is 896.'], 'The runway length of Andrews County Airport is 896.'], [['s2d 0: Angola International Airport is the first runway made of asphalt.', 's2d 1: Asphalt is the surface of the first runway of Angola International Airport.', 's2d 2: The 1st runway at Angola International Airport has an asphalt surface.'], 'The 1st runway at Angola International Airport is made of asphalt.'], [['s2d 0: Antwerp International Airport is 12 metres above sea level.', 's2d 1: Antwerp International Airport has an elevation of 12.0 metres above sea level.e.'], 'Antwerp International Airport is 12,0 metres above sea level.'], [['s2d 0: The Antwerp International Airport is operated by the Flemish Government.', 's2d 1: The operating organisation of Antwerp International airport is the Flemish government.', 's2d 2: Antwerp International Airport is operated by the Flemish government.'], 'The Antwerp International Airport is operated by the Flemish Government.'], [['s2d 0: The runway length of Appleton International Airport is 2,439.', 's2d 1: The runway length of the Appleton International airport is 2439 units.', 's2d 2: The runway length of Appleton International Airport is 2439.0.'], 'The runway length of Appleton International Airport is 2439.0.'], [['s2d 0: Ardmore Airport (New Zealand) runway length is 518.0.', 's2d 1: The runway length of Ardmore Airport, New Zealand, is 518.0.', 's2d 2: The runway length of Ardmore Airport (New Zealand) is 518.0.'], 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], [['s2d 0: UTAA is the ICAO Location Identifier of Ashgabat International Airport.', 's2d 1: The ICAO Location Identifier of Ashgabat International Airport is UTAA.'], 'The ICAO location identifier of Ashgabat International Airport is UTAA.'], [['s2d 0: The runway name of Ashgabat International Airport is 11/29.', 's2d 1: The runway name at Ashgabat International airport is 11/29.'], 'The runway name of Ashgabat International Airport is 11/29.'], [['s2d 0: Atlantic City International Airport owner is South Jersey Transportation Authority.', 's2d 1: South Jersey Transportation Authority is the owner of the Atlantic City International Airport.', 's2d 2: Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], [['s2d 0: The name of the runway at Atlantic City International Airport is "13/31".', 's2d 1: 13/31 is the runway name for Atlantic City International airport.', 's2d 2: Atlantic City International Airport\'s runway name is "13/31".'], 'The runway name of Atlantic City International Airport is 13/31.'], [['s2d 0: The Dutch language is spoken in Belgium.', 's2d 1: Dutch is the language spoken in Belgium.', "s2d 2: Belgium's language is Dutch."], 'The Dutch language is spoken in Belgium.'], [['s2d 0: Curitiba is part of the South Region, Brazil.'], 'Curitiba is part of the South Region, Brazil.'], [['s2d 0: Denmark demonym is Danes.', 's2d 1: The inhabitants of Denmark have the demonym of Danes.', 's2d 2: The people of Denmark are called Danes.'], "Denmark's demonym is Dunes."], [['s2d 0: Fallujah is in the country of Iraq.', 's2d 1: Fallujah is located in the country of Iraq.', 's2d 2: Fallujah is in Iraq.'], 'Fallujah is from Iraq.'], [['s2d 0: Greenville, Wisconsin is in the U.S.A.', 's2d 1: Greenville, Wisconsin is located in the United States.', 's2d 2: Greenville, Wisconsin is in the United States.'], 'Greenville, Wisconsin is in the United States.'], [['s2d 0: Greenville, Wisconsin is part of Grand Chute, Wisconsin.', 's2d 1: Greenville, Wisconsin is in Grand Chute, Wisconsin.', 's2d 2: Greenville, Wisconsin, is part of Grand Chute, Wisconsin.'], 'Greenville is part of Grand Chute, Wisconsin.'], [['s2d 0: Iraq language is Arabic.', 's2d 1: Arabic is the language in Iraq.'], 'Arabic is spoken in Iraq.'], [['s2d 0: Madrid is in the country of Spain.', 's2d 1: The city of Madrid is found in Spain.', 's2d 2: Madrid is located in Spain.'], 'Madrid is in Spain.'], [['s2d 0: Maple Ridge Township in Alpena County, Michigan is part of the United States.', 's2d 1: Maple Ridge Township, Alpena County, Michigan is part of the United States.'], 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], [['s2d 0: The leader of Pakistan is Sardar Ayaz Sadiq.'], 'Sardar Ayaz Sadiq is the leader of Pakistan.'], [['s2d 0: New Jersey is a region served by the Port Authority of New York and New Jersey.', 's2d 1: The Port Authority of N.Y. and N.J. serves New Jersey.', 's2d 2: The Port Authority of New York and New Jersey serves the region of New Jersey.'], 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], [['s2d 0: Houston is the largest city in Texas.'], 'Houston is the largest city in Texas.'], [['s2d 0: The USAF was involved in the 1986 bombing of Libya.', 's2d 1: The United States Air Force was fighting in the United States bombing of Libya in 1986.', 's2d 2: The 1986 United States bombing of Libya was carried out by the United States Air Force.'], 'The United States Air Force fought in the United States bombing of Libya in 1986.'], [['s2d 0: The United States Air Force has a Boeing C-17 Globemaster III transport aircraft.', 's2d 1: The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], [['s2d 0: Aaron Deer has been signed to the record label Kill Rock Stars.', 's2d 1: Aaron Deer is signed to the record label Kill Rock Stars.', "s2d 2: Aaron Deer's record label is called Kill Rock Stars."], 'Aaron Deer is signed to the record label Bill Rock Stars.'], [['s2d 0: Aaron Turner plays progressive metal music.', 's2d 1: Aaron Turner performs progressive metal music.', 's2d 2: Aaron Turner uses the genre Progressive metal.'], 'Aaron Turner is a progressive metal artist.'], [['s2d 0: Abradab was born on November 12th 1978.', 's2d 1: The birth date of Abradab is 12th November 1978.', 's2d 2: Abradab was born on 12th November 1978.'], 'Abradab was born on 11 November 1978.'], [['s2d 0: The birth place of Abradab is Poland.', 's2d 1: Abradab was born in Poland.'], 'Abradab was born in Poland.'], [['s2d 0: The musical genre of Abradab is hip hop music.', 's2d 1: Abradab performs hip hop music.'], 'Abradab performs hip hop music.'], [['s2d 0: Agustin Barboza plays Guarania style of music.', 's2d 1: The genre Guarania, is the musical genre that Agustin Barboza is involved in.'], 'Agustin Barboza performs Guarania music.'], [['s2d 0: Ahmet Ertegun was born in Istanbul, Turkey.'], 'Ahmet Ertegun was born in Istanbul, Turkey.'], [['s2d 0: Alan Frew is a performer of rock music.', "s2d 1: Alan Frews' musical genre is rock music.", "s2d 2: Alan Frew's genre is Rock music."], 'Alan Frew performs rock music.'], [['s2d 0: Albennie Jones has worked with the musical artist Sammy Price.'], 'Albennie Jones is associated with Sammy Price.'], [['s2d 0: Aleksandra Kovac was born in Yugoslavia.', 's2d 1: The birth place of Aleksandra Kovac is Yugoslavia.', 's2d 2: Yugoslavia is the birth place of Aleksandra Kovac.'], 'Aleksandra Kovac was born in Yugoslavia.'], [['s2d 0: The musical genre of Aleksandra Kovac is rhythm and blues.', "s2d 1: Aleksandra Kovac's genre is rhythm and blues.", 's2d 2: Aleksandra Kovac is an exponent of Rhythm and blues.'], 'Aleksandra Kovac performs rhythm and blues music.'], [['s2d 0: The musical genre of Alex Day is Synthpop.', 's2d 1: Alex Day performs Synthpop music.', 's2d 2: Alex Day uses the Synthpop genre.'], 'Alex Day performs Synthpop music.'], [['s2d 0: Alfredo Zitarrosa is associated with fellow musician Hector Numa Moraes.', 's2d 1: Alfredo Zitarrosa is associated with Hector Numa Moraes.', 's2d 2: Alfredo Zitarrosa is associated with the artist Hector Numa Moraes.'], 'Alfredo Zitarrosa is associated with Hector Numa Moraes.'], [['s2d 0: Montevideo is the birth place of Alfredo Zitarrosa.', 's2d 1: The birth place of Alfredo Zitarrosa is Montevideo.', 's2d 2: Alfredo Zitarrosa was born in Montevideo.'], 'Alfredo Zitarrosa was born in Montevideo.'], [['s2d 0: Alfredo Zitarrosa died in Uruguay.'], 'Alfredo Zitarrosa died in Uruguay.'], [['s2d 0: Alfredo Zitarrosa was signed to the RCA Records label.', "s2d 1: Alfredo Zitarrosa's record label is RCA Records.", 's2d 2: Alfredo Zitarrosa has a recording label in RCA Records.'], 'Alfredo Zitarrosa is signed to RCA Records.'], [["s2d 0: Alison O'Donnell plays jazz music.", "s2d 1: Alison O'Donnell performs jazz music."], "Alison O'Donnell performs jazz music."], [["s2d 0: Alison O'Donnell is a singer and also plays the bodhran, percussion and autoharp.", "s2d 1: Alison O'Donnell is a musician who uses her voice,bodhran,percussion and autoharp.", "s2d 2: The instruments that Alison O'Donnell plays are bodhran, percussion, autoharp plus she also sings."], "Alison O'Donnell plays trumpet, bodhran, percussion and autoharp."], [['s2d 0: Allen Forrest was born on February 4, 1981.', "s2d 1: Allen Forrest's birth date is 04th February 1981.", "s2d 2: Allen Forrest's birth date is 1981-02-04."], 'Allen Forrest was born on April 4th,1981-0.'], [['s2d 0: The location of Alligator Records is Chicago.', 's2d 1: Alligator records is based in Chicago.', 's2d 2: Alligator Records is located in Chicago.'], 'Alligator Records is located in Chicago.'], [['s2d 0: Anders Osborne is associated with the musical artist Johnny Sansone.', 's2d 1: Anders Osborne and Johnny Sansone are associates.'], 'Anders Osborne is associated with Johnny Sansone.'], [['s2d 0: Anders Osborne performs rhythm and blues music.', 's2d 1: Rhythm and blues is the musical genre of Anders Osborne.', "s2d 2: Anders Osborne's genre is Rhythm and blues."], 'Anders Osborne performs rhythm and blues music.'], [['s2d 0: Andra is a rhythm and blues singer.', 's2d 1: Andra performs rhythm and blues music.', "s2d 2: The singer Andra's genre is Rhythm and blues."], 'Andra is a rhythm and blues singer.'], [['s2d 0: Andrew Rayel began his musical career in 2009.', 's2d 1: Andrew Rayel started his career in 2009.'], 'Andrew Rayel started his career in 2009.'], [['s2d 0: Andrew Rayel is associated with Christian Burns.', 's2d 1: The musicians Andrew Rayel and Christian Burns are associates.'], 'Andrew Rayel is associated with Christian Burns.'], [['s2d 0: The musician, Andrew White, is associated with the musical artist, Marry Banilow.', 's2d 1: Andrew White is associated with the musical artist Marry Banilow.'], 'Andrew White is associated with the musical artist Marry Banilow.'], [['s2d 0: Andrew White is a musician signed to the record label B-Unique Records.', 's2d 1: The musician Andrew White is signed to the record label B-Unique Records.'], 'Andrew White is a musician signed to B-Unique Records.'], [['s2d 0: Christian Burns plays the guitar.', 's2d 1: Christian Burns plays guitar.'], 'Christian Burns plays the guitar.'], [['s2d 0: Hip hop music originated from funk music.', 's2d 1: Hip Hop music has its origins in Funk.', 's2d 2: Hip hop music has its stylistic origins in funk.'], 'Hip hop music has its stylistic origins in Funk.'], [['s2d 0: The stylistic origin of indie rock is new wave music.', 's2d 1: Indie Rock has its origins in New wave music.'], 'Indie rock has its stylistic origins in New wave music.'], [['s2d 0: Manchester is part of Greater Manchester.', 's2d 1: Manchester is a part of Greater Manchester.', 's2d 2: Manchester is part of the Greater Manchester area.'], 'Manchester is part of Greater Manchester.'], [['s2d 0: Polydor Records are based in London.', 's2d 1: Polydor Records is located in London.', 's2d 2: Polydor records are located in London.'], 'Polydor Records is located in London.'], [['s2d 0: The distribution company for RCA Records is Sony Music Entertainment.', 's2d 1: RCA Records distribute through Sony Music Entertainment.'], 'RCA Records is distributed by Sonic Music Entertainment.'], [['s2d 0: Rock and roll music originated from blues music.', 's2d 1: Rock and Roll has its stylistic origin in the Blues.', "s2d 2: Rock and roll's stylistic origins come from Blues."], 'Rock and roll originated from the blues.'], [['s2d 0: Synthpop is a form of pop music.', "s2d 1: Synthpop's stylistic origins come from pop music.", 's2d 2: The stylistic origin of synthpop is pop music.'], 'Synthpop has its stylistic origins in pop music.'], [['s2d 0: The nationality of Alan Bean is United States.', "s2d 1: Alan Bean's nationality is the United States.", 's2d 2: Alan Bean is American.', 's2d 3: Alan Bean was American.', 's2d 4: Alan Bean is a US national.'], 'Alan Bean is a United States national.'], [['s2d 0: Buzz Aldrin was a backup pilot on the Apollo 8 mission.', "s2d 1: Apollo 8's backup pilot was Buzz Aldrin."], 'Buzz Aldrin is the backup pilot of Apollo 8.'], [['s2d 0: Buzz Aldrin graduated from Massachusetts Institute of Technology with a Sc.D in 1963.', 's2d 1: Buzz Aldrin graduated in 1963 from MIT with a Sc.D.', 's2d 2: Buzz Aldrin graduated from MIT with a Sc. D in 1963.', 's2d 3: Buzz Aldrin graduated from Massachusetts Institute of Technology, Sc.D. 1963.', 's2d 4: Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a doctorate in Science.'], 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a Sc.D.'], [['s2d 0: Buzz Aldrin was a crew member of Apollo 11.', 's2d 1: Buzz Aldrin was a member of the Apollo 11 crew.', 's2d 2: Buzz Aldrin was a crew member on Apollo 11.'], 'Buzz Aldrin was a crew member of Apollo 11.'], [['s2d 0: NASA selected Buzz Aldrin in 1963.', 's2d 1: Buzz Aldrin was selected by NASA in 1963.', 's2d 2: Buzz Aldrin was selected to work for NASA in 1963.', 's2d 3: Buzz Aldrin was hired by NASA in 1963.'], 'Buzz Aldrin was selected by NASA in 1963.'], [['s2d 0: The gemstone of California is Benitoite.', 's2d 1: California has a gemstone called Benitoite.', 's2d 2: Benitoite is a gemstone from California.', 's2d 3: Benitoite is a gemstone found in California.'], 'The granite of California is Benitoite.'], [['s2d 0: Elliot See died on 28 February, 1966.', 's2d 1: Elliot See died on the 28th of February 1966.', 's2d 2: Elliot See died on February 28, 1966.', 's2d 3: Elliot See died in 1966-02-28.', 's2d 4: Elliot See lived until the 28th of February 1966.', 's2d 5: Elliot See died on February 28,1966.'], 'Elliot See died on February 28, 1966.'], [['s2d 0: Elliot See died in St. Louis.', 's2d 1: Elliot See died in St Louis.'], 'Elliot See died in St. Louis.'], [['s2d 0: Elliot See is dead.', 's2d 1: Elliot See has died.', 's2d 2: Elliot See is deceased.'], 'Elliot See is deceased.'], [['s2d 0: Aaron Hunt played for the club SV Werder Bremen.', 's2d 1: Aaron Hunt plays for SV Werder Bremen.', 's2d 2: Aaron Hunt played for SV Werder Bremen.'], 'Aaron Hunt plays for SV Werder Bremen.'], [['s2d 0: The footballer Abner was born in Brazil.', 's2d 1: Abner (a footballer) was born in Brazil.', 's2d 2: Football player, Abner, was born in Brazil.'], 'Abner was born in Brazil.'], [['s2d 0: Adam Maher was born in the Netherlands.'], 'Adam Maher was born in the Netherlands.'], [['s2d 0: Adam Maher played for the Netherlands national under-17 football team.', 's2d 1: Adam Maher plays for the Netherlands National club for players under 17.'], 'Adam Maher plays for the Netherlands national under 17 football team.'], [["s2d 0: Adam Maher's club is PSV Eindhoven."], 'Adam Maher plays for PSV Eindhoven.'], [['s2d 0: Ahmad Kadhim Assad plays for the Iraq national football team.', 's2d 1: Ahmad Kadhim Assad represented the Iraq national football team.', 's2d 2: Ahmad Kadhim plays for the Iraqi national football team.'], 'Ahmad Kadhim Assad plays for the Iraq national football team.'], [['s2d 0: Akeem Adams was born in Point Fortin.', "s2d 1: Akeem Adams' birthplace is Point Fortin."], 'Akeem Adams was born in Point Fortin.'], [["s2d 0: Akeem Dent's former team is the Atlanta Falcons.", 's2d 1: Akeem Dent used to play for the Atlanta Falcons.'], "Akeem Dent's former team is the Atlanta Falcons."], [["s2d 0: Akeem Priestley's clu

In [39]:
chunked = (
  seq(y_pred.to_dict('records'))
    .group_by(get.record_idx)
    .map(get[1]) # focus on teh values
    .map(lambda x: [
      seq(x).map(get.sd).map(get[7:]).to_list(),        # gather up all of the references
      seq(x).map(get.decoded).to_list()[0][7:] # and the first prediction
    ])
)
chunked

[[['Abilene, Texas is served by the Abilene regional airport.', 'Abilene Regional Airport serves the city of Abilene in Texas.'], 'Abilene Regional Airport serves the city of Abilene, Texas.'], [['Adolfo Suarez Madrid-Barajas Airport can be found in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas airport is located at Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.', 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], 'Adolfo Suarez Madrid-Barajas Airport is located in Madrid, Paracuellos de Jarama, San Sebastian de los Reyes and Alcobendas.'], [['The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.', 'The runway name at Adolfo Suarez Madrid-Barajas airport is 18L/36R.', 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], 'The runway name of Adolfo Suarez Madrid-Barajas Airport is 18L/36R.'], [['Afonso Pena International Airport ICAO Location Idenitifier is SBCT.', 'SBCT is the ICAO location identifier of Afonso Pena International Airport.'], 'The ICAO location identifier of Afonso Pena International Airport is SBCT.'], [['Afonso Pena International Airport serves the city of Curitiba.', 'Afonso Pena International Airport serves Curitiba.'], 'Afonso Pena International Airport serves the city of Curitiba.'], [['The Al Taqaddum Air Base serves the city of Fallujah.', 'Al-Taqaddum Air Base serves the city of Fallujah.'], 'Al-Taqaddum Air Base serves the city of Fallujah.'], [['The runway length of Al-Taqaddum Air Base is 3684.0.', 'The length of the runway at Al-Taqaddum Air Base is 3684.0.'], 'The runway length of Al-Taqaddum Air Base is 3684.0.'], [['Alderney Airport runway name is 14/32.', '14/32 is the runway name of Alderney Airport.', 'The runway name of Alderney Airport is 14/32.'], 'The runway name of Alderney Airport is 14/32.'], [['The runway length at Allama Iqbal International Airport is 3,360.12.', 'The runway at Allama Iqbal International Airport has a length of 3360.12.', 'The runway at Allama Iqbal International Airport is 3360.12 long.'], 'The runway length of Allama Iqbal International Airport is 3360.12.'], [["The first runway at Amsterdam's Schiphol Airport is known as Number 18.", "The Amsterdam Airport Schiphol's 1st runway number is 18.", 'The number of the 1st runway at Amsterdam Airport Schiphol is 18.'], 'The 1st runway at Amsterdam Airport Schiphol is 18.'], [['The 5th runway at Amsterdam airport Schiphol has an asphalt surfacing.', 'The fifth runway of Amsterdam Airport Schiphol has an asphalt surface.', 'The 5th runway of the Amsterdam Airport Schiphol is asphalt.'], 'The 5th runway at Amsterdam Airport Schiphol is made of asphalt.'], [['Amsterdam Airport Schiphol runway name is 06/24 Kaagbaan.', '06/24, Kaagbaan, is the runway name of Amsterdam Airport Schiphol.', 'The runway name of Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], 'The runway name at Amsterdam Airport Schiphol is 06/24 Kaagbaan.'], [['Andrews County Airport is 973 metres above sea level.', "Andrews airport's is 973.0 above sea level."], 'Andrews County Airport is 973 metres above sea level.'], [['The Andrews County Airport is owned by Andrews County, Texas.', 'The owner of Andrews County airport is Andrews County, Texas.', 'Andrews County Airport is owned by Andrews County, Texas.'], 'Andrews County Airport is owned by Andrews County, Texas.'], [['The runway length of Andrews County Airport is 896.'], 'The runway length of Andrews County Airport is 896.'], [['Angola International Airport is the first runway made of asphalt.', 'Asphalt is the surface of the first runway of Angola International Airport.', 'The 1st runway at Angola International Airport has an asphalt surface.'], 'The 1st runway at Angola International Airport is made of asphalt.'], [['Antwerp International Airport is 12 metres above sea level.', 'Antwerp International Airport has an elevation of 12.0 metres above sea level.e.'], 'Antwerp International Airport is 12,0 metres above sea level.'], [['The Antwerp International Airport is operated by the Flemish Government.', 'The operating organisation of Antwerp International airport is the Flemish government.', 'Antwerp International Airport is operated by the Flemish government.'], 'The Antwerp International Airport is operated by the Flemish Government.'], [['The runway length of Appleton International Airport is 2,439.', 'The runway length of the Appleton International airport is 2439 units.', 'The runway length of Appleton International Airport is 2439.0.'], 'The runway length of Appleton International Airport is 2439.0.'], [['Ardmore Airport (New Zealand) runway length is 518.0.', 'The runway length of Ardmore Airport, New Zealand, is 518.0.', 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], 'The runway length of Ardmore Airport (New Zealand) is 518.0.'], [['UTAA is the ICAO Location Identifier of Ashgabat International Airport.', 'The ICAO Location Identifier of Ashgabat International Airport is UTAA.'], 'The ICAO location identifier of Ashgabat International Airport is UTAA.'], [['The runway name of Ashgabat International Airport is 11/29.', 'The runway name at Ashgabat International airport is 11/29.'], 'The runway name of Ashgabat International Airport is 11/29.'], [['Atlantic City International Airport owner is South Jersey Transportation Authority.', 'South Jersey Transportation Authority is the owner of the Atlantic City International Airport.', 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], 'Atlantic City International Airport is owned by the South Jersey Transportation Authority.'], [['The name of the runway at Atlantic City International Airport is "13/31".', '13/31 is the runway name for Atlantic City International airport.', 'Atlantic City International Airport\'s runway name is "13/31".'], 'The runway name of Atlantic City International Airport is 13/31.'], [['The Dutch language is spoken in Belgium.', 'Dutch is the language spoken in Belgium.', "Belgium's language is Dutch."], 'The Dutch language is spoken in Belgium.'], [['Curitiba is part of the South Region, Brazil.'], 'Curitiba is part of the South Region, Brazil.'], [['Denmark demonym is Danes.', 'The inhabitants of Denmark have the demonym of Danes.', 'The people of Denmark are called Danes.'], "Denmark's demonym is Dunes."], [['Fallujah is in the country of Iraq.', 'Fallujah is located in the country of Iraq.', 'Fallujah is in Iraq.'], 'Fallujah is from Iraq.'], [['Greenville, Wisconsin is in the U.S.A.', 'Greenville, Wisconsin is located in the United States.', 'Greenville, Wisconsin is in the United States.'], 'Greenville, Wisconsin is in the United States.'], [['Greenville, Wisconsin is part of Grand Chute, Wisconsin.', 'Greenville, Wisconsin is in Grand Chute, Wisconsin.', 'Greenville, Wisconsin, is part of Grand Chute, Wisconsin.'], 'Greenville is part of Grand Chute, Wisconsin.'], [['Iraq language is Arabic.', 'Arabic is the language in Iraq.'], 'Arabic is spoken in Iraq.'], [['Madrid is in the country of Spain.', 'The city of Madrid is found in Spain.', 'Madrid is located in Spain.'], 'Madrid is in Spain.'], [['Maple Ridge Township in Alpena County, Michigan is part of the United States.', 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], 'Maple Ridge Township, Alpena County, Michigan is part of the United States.'], [['The leader of Pakistan is Sardar Ayaz Sadiq.'], 'Sardar Ayaz Sadiq is the leader of Pakistan.'], [['New Jersey is a region served by the Port Authority of New York and New Jersey.', 'The Port Authority of N.Y. and N.J. serves New Jersey.', 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], 'The Port Authority of New York and New Jersey serves the region of New Jersey.'], [['Houston is the largest city in Texas.'], 'Houston is the largest city in Texas.'], [['The USAF was involved in the 1986 bombing of Libya.', 'The United States Air Force was fighting in the United States bombing of Libya in 1986.', 'The 1986 United States bombing of Libya was carried out by the United States Air Force.'], 'The United States Air Force fought in the United States bombing of Libya in 1986.'], [['The United States Air Force has a Boeing C-17 Globemaster III transport aircraft.', 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], 'The Boeing C-17 Globemaster III is a transport aircraft of the United States Air Force.'], [['Aaron Deer has been signed to the record label Kill Rock Stars.', 'Aaron Deer is signed to the record label Kill Rock Stars.', "Aaron Deer's record label is called Kill Rock Stars."], 'Aaron Deer is signed to the record label Bill Rock Stars.'], [['Aaron Turner plays progressive metal music.', 'Aaron Turner performs progressive metal music.', 'Aaron Turner uses the genre Progressive metal.'], 'Aaron Turner is a progressive metal artist.'], [['Abradab was born on November 12th 1978.', 'The birth date of Abradab is 12th November 1978.', 'Abradab was born on 12th November 1978.'], 'Abradab was born on 11 November 1978.'], [['The birth place of Abradab is Poland.', 'Abradab was born in Poland.'], 'Abradab was born in Poland.'], [['The musical genre of Abradab is hip hop music.', 'Abradab performs hip hop music.'], 'Abradab performs hip hop music.'], [['Agustin Barboza plays Guarania style of music.', 'The genre Guarania, is the musical genre that Agustin Barboza is involved in.'], 'Agustin Barboza performs Guarania music.'], [['Ahmet Ertegun was born in Istanbul, Turkey.'], 'Ahmet Ertegun was born in Istanbul, Turkey.'], [['Alan Frew is a performer of rock music.', "Alan Frews' musical genre is rock music.", "Alan Frew's genre is Rock music."], 'Alan Frew performs rock music.'], [['Albennie Jones has worked with the musical artist Sammy Price.'], 'Albennie Jones is associated with Sammy Price.'], [['Aleksandra Kovac was born in Yugoslavia.', 'The birth place of Aleksandra Kovac is Yugoslavia.', 'Yugoslavia is the birth place of Aleksandra Kovac.'], 'Aleksandra Kovac was born in Yugoslavia.'], [['The musical genre of Aleksandra Kovac is rhythm and blues.', "Aleksandra Kovac's genre is rhythm and blues.", 'Aleksandra Kovac is an exponent of Rhythm and blues.'], 'Aleksandra Kovac performs rhythm and blues music.'], [['The musical genre of Alex Day is Synthpop.', 'Alex Day performs Synthpop music.', 'Alex Day uses the Synthpop genre.'], 'Alex Day performs Synthpop music.'], [['Alfredo Zitarrosa is associated with fellow musician Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with Hector Numa Moraes.', 'Alfredo Zitarrosa is associated with the artist Hector Numa Moraes.'], 'Alfredo Zitarrosa is associated with Hector Numa Moraes.'], [['Montevideo is the birth place of Alfredo Zitarrosa.', 'The birth place of Alfredo Zitarrosa is Montevideo.', 'Alfredo Zitarrosa was born in Montevideo.'], 'Alfredo Zitarrosa was born in Montevideo.'], [['Alfredo Zitarrosa died in Uruguay.'], 'Alfredo Zitarrosa died in Uruguay.'], [['Alfredo Zitarrosa was signed to the RCA Records label.', "Alfredo Zitarrosa's record label is RCA Records.", 'Alfredo Zitarrosa has a recording label in RCA Records.'], 'Alfredo Zitarrosa is signed to RCA Records.'], [["Alison O'Donnell plays jazz music.", "Alison O'Donnell performs jazz music."], "Alison O'Donnell performs jazz music."], [["Alison O'Donnell is a singer and also plays the bodhran, percussion and autoharp.", "Alison O'Donnell is a musician who uses her voice,bodhran,percussion and autoharp.", "The instruments that Alison O'Donnell plays are bodhran, percussion, autoharp plus she also sings."], "Alison O'Donnell plays trumpet, bodhran, percussion and autoharp."], [['Allen Forrest was born on February 4, 1981.', "Allen Forrest's birth date is 04th February 1981.", "Allen Forrest's birth date is 1981-02-04."], 'Allen Forrest was born on April 4th,1981-0.'], [['The location of Alligator Records is Chicago.', 'Alligator records is based in Chicago.', 'Alligator Records is located in Chicago.'], 'Alligator Records is located in Chicago.'], [['Anders Osborne is associated with the musical artist Johnny Sansone.', 'Anders Osborne and Johnny Sansone are associates.'], 'Anders Osborne is associated with Johnny Sansone.'], [['Anders Osborne performs rhythm and blues music.', 'Rhythm and blues is the musical genre of Anders Osborne.', "Anders Osborne's genre is Rhythm and blues."], 'Anders Osborne performs rhythm and blues music.'], [['Andra is a rhythm and blues singer.', 'Andra performs rhythm and blues music.', "The singer Andra's genre is Rhythm and blues."], 'Andra is a rhythm and blues singer.'], [['Andrew Rayel began his musical career in 2009.', 'Andrew Rayel started his career in 2009.'], 'Andrew Rayel started his career in 2009.'], [['Andrew Rayel is associated with Christian Burns.', 'The musicians Andrew Rayel and Christian Burns are associates.'], 'Andrew Rayel is associated with Christian Burns.'], [['The musician, Andrew White, is associated with the musical artist, Marry Banilow.', 'Andrew White is associated with the musical artist Marry Banilow.'], 'Andrew White is associated with the musical artist Marry Banilow.'], [['Andrew White is a musician signed to the record label B-Unique Records.', 'The musician Andrew White is signed to the record label B-Unique Records.'], 'Andrew White is a musician signed to B-Unique Records.'], [['Christian Burns plays the guitar.', 'Christian Burns plays guitar.'], 'Christian Burns plays the guitar.'], [['Hip hop music originated from funk music.', 'Hip Hop music has its origins in Funk.', 'Hip hop music has its stylistic origins in funk.'], 'Hip hop music has its stylistic origins in Funk.'], [['The stylistic origin of indie rock is new wave music.', 'Indie Rock has its origins in New wave music.'], 'Indie rock has its stylistic origins in New wave music.'], [['Manchester is part of Greater Manchester.', 'Manchester is a part of Greater Manchester.', 'Manchester is part of the Greater Manchester area.'], 'Manchester is part of Greater Manchester.'], [['Polydor Records are based in London.', 'Polydor Records is located in London.', 'Polydor records are located in London.'], 'Polydor Records is located in London.'], [['The distribution company for RCA Records is Sony Music Entertainment.', 'RCA Records distribute through Sony Music Entertainment.'], 'RCA Records is distributed by Sonic Music Entertainment.'], [['Rock and roll music originated from blues music.', 'Rock and Roll has its stylistic origin in the Blues.', "Rock and roll's stylistic origins come from Blues."], 'Rock and roll originated from the blues.'], [['Synthpop is a form of pop music.', "Synthpop's stylistic origins come from pop music.", 'The stylistic origin of synthpop is pop music.'], 'Synthpop has its stylistic origins in pop music.'], [['The nationality of Alan Bean is United States.', "Alan Bean's nationality is the United States.", 'Alan Bean is American.', 'Alan Bean was American.', 'Alan Bean is a US national.'], 'Alan Bean is a United States national.'], [['Buzz Aldrin was a backup pilot on the Apollo 8 mission.', "Apollo 8's backup pilot was Buzz Aldrin."], 'Buzz Aldrin is the backup pilot of Apollo 8.'], [['Buzz Aldrin graduated from Massachusetts Institute of Technology with a Sc.D in 1963.', 'Buzz Aldrin graduated in 1963 from MIT with a Sc.D.', 'Buzz Aldrin graduated from MIT with a Sc. D in 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology, Sc.D. 1963.', 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a doctorate in Science.'], 'Buzz Aldrin graduated from Massachusetts Institute of Technology in 1963 with a Sc.D.'], [['Buzz Aldrin was a crew member of Apollo 11.', 'Buzz Aldrin was a member of the Apollo 11 crew.', 'Buzz Aldrin was a crew member on Apollo 11.'], 'Buzz Aldrin was a crew member of Apollo 11.'], [['NASA selected Buzz Aldrin in 1963.', 'Buzz Aldrin was selected by NASA in 1963.', 'Buzz Aldrin was selected to work for NASA in 1963.', 'Buzz Aldrin was hired by NASA in 1963.'], 'Buzz Aldrin was selected by NASA in 1963.'], [['The gemstone of California is Benitoite.', 'California has a gemstone called Benitoite.', 'Benitoite is a gemstone from California.', 'Benitoite is a gemstone found in California.'], 'The granite of California is Benitoite.'], [['Elliot See died on 28 February, 1966.', 'Elliot See died on the 28th of February 1966.', 'Elliot See died on February 28, 1966.', 'Elliot See died in 1966-02-28.', 'Elliot See lived until the 28th of February 1966.', 'Elliot See died on February 28,1966.'], 'Elliot See died on February 28, 1966.'], [['Elliot See died in St. Louis.', 'Elliot See died in St Louis.'], 'Elliot See died in St. Louis.'], [['Elliot See is dead.', 'Elliot See has died.', 'Elliot See is deceased.'], 'Elliot See is deceased.'], [['Aaron Hunt played for the club SV Werder Bremen.', 'Aaron Hunt plays for SV Werder Bremen.', 'Aaron Hunt played for SV Werder Bremen.'], 'Aaron Hunt plays for SV Werder Bremen.'], [['The footballer Abner was born in Brazil.', 'Abner (a footballer) was born in Brazil.', 'Football player, Abner, was born in Brazil.'], 'Abner was born in Brazil.'], [['Adam Maher was born in the Netherlands.'], 'Adam Maher was born in the Netherlands.'], [['Adam Maher played for the Netherlands national under-17 football team.', 'Adam Maher plays for the Netherlands National club for players under 17.'], 'Adam Maher plays for the Netherlands national under 17 football team.'], [["Adam Maher's club is PSV Eindhoven."], 'Adam Maher plays for PSV Eindhoven.'], [['Ahmad Kadhim Assad plays for the Iraq national football team.', 'Ahmad Kadhim Assad represented the Iraq national football team.', 'Ahmad Kadhim plays for the Iraqi national football team.'], 'Ahmad Kadhim Assad plays for the Iraq national football team.'], [['Akeem Adams was born in Point Fortin.', "Akeem Adams' birthplace is Point Fortin."], 'Akeem Adams was born in Point Fortin.'], [["Akeem Dent's former team is the Atlanta Falcons.", 'Akeem Dent used to play for the Atlanta Falcons.'], "Akeem Dent's former team is the Atlanta Falcons."], [["Akeem Priestley's club is the Connecticut Huskies.", 'Akeem Priestley plays for the Connecticut Huskies.'], 'Akeem Priestley plays for Connecticut Huskies.'], [["Basim Qasim is the manager of Al-Zawra'a SC.", "Basim Qasim manages Al-Zawra'a SC.", "The manager of Al-Zawra'a SC is Basim Qasim."], 'Basim Qasim is the manager of Al-Zawraa SC.'], [['Al Kharaitiyat SC play in the Qatar Stars League.'], 'Al Kharaitiyat SC is in the Qatar Stars League.'], [["Alaa Abdul-Zahra's club is Sanat Mes Kerman F.C.", 'Alaa Abdul Zahra plays for Sanat Mes Kerman FC.'], 'Alaa Abdul-Zahra plays for Sanat Mes Kerman FC.'], [['Alan Martin played football for Hamilton Academical F.C.', 'Alan Martin is a footballer for the Hamilton Academical FC.', 'The footballer Alan Martin plays for Hamilton Academical F.C.'], 'Alan Martin played football for Hamilton Academical FC.'], [['Alan Martin is a footballer with the Scotland national under-19 football team club.', 'Alan Martin played football for the Scotland national under 19 team.'], 'Alan Martin plays for the Scottish national under-19 football team.'], [["Aleksander Barkov Jr's birthdate is 1995-09-02.", 'Aleksander Barkov Jr. was born on the 2nd September 1995.'], 'Aleksander Barkov Jr was born on the 2nd September 1995.'], [['Aleksander Barkov Jr is 1.905m tall.', "Aleksander Barkov, Jr's height is 1.905 metres.", 'The height of Aleksander Barkov Jr. is 1.905.'], 'Aleksander Barkov Jr. is 1.905 metres tall.'], [["Aleksandr Prudnikov's date of birth is 1989-02-24.", 'Aleksandr Prudnikov was born on 24th February 1989.', 'Aleksandr Prudnikov was born 1989-02-24.'], 'Aleksandr Prudnikov was born on t

In [40]:
rouge_scores = (
  chunked.starmap(compute_rouge)
    # only one rouge per sample, so take the first of the values
    .map(lambda x: seq(x.items()).starmap(lambda x,y : {x:y[0]}))
    # rolling union on dictionaries since they are disjoint
    .map(lambda x: seq(x).reduce(lambda x, y: x | y))
    .to_pandas()
)
rouge_scores

        rouge1    rouge2    rougeL  rougeLsum
0     0.947368  0.823529  0.947368   0.947368
1     1.000000  1.000000  1.000000   1.000000
2     1.000000  1.000000  1.000000   1.000000
3     1.000000  0.800000  0.818182   0.818182
4     1.000000  1.000000  1.000000   1.000000
...        ...       ...       ...        ...
1595  0.857143  0.615385  0.603774   0.603774
1596  0.741573  0.413793  0.449438   0.449438
1597  0.857143  0.602410  0.690476   0.690476
1598  0.787879  0.597938  0.707071   0.707071
1599  0.847826  0.600000  0.608696   0.608696

[1600 rows x 4 columns]

In [41]:
rouge_scores.describe()

            rouge1       rouge2       rougeL    rougeLsum
count  1600.000000  1600.000000  1600.000000  1600.000000
mean      0.845672     0.669599     0.746154     0.746154
std       0.112022     0.200196     0.173836     0.173836
min       0.387097     0.125000     0.266667     0.266667
25%       0.775510     0.533333     0.619551     0.619551
50%       0.848155     0.652174     0.739130     0.739130
75%       0.933333     0.800000     0.894737     0.894737
max       1.000000     1.000000     1.000000     1.000000

In [42]:
bleu = load('sacrebleu')
bleu
compute_bleu = lambda x,y: bleu.compute(references=[x], predictions=[y])

In [43]:
bleu_scores = (
  chunked.starmap(compute_bleu)
    .to_pandas()
)

In [44]:
bleu_scores

,score,counts,totals,precisions,bp,sys_len,ref_len
0,83.499502,"[11, 10, 7, 5]","[11, 10, 9, 8]","[100.0, 100.0, 77.77777777777777, 62.5]",1.000000,11,11
1,100.000000,"[21, 20, 19, 18]","[21, 20, 19, 18]","[100.0, 100.0, 100.0, 100.0]",1.000000,21,21
2,100.000000,"[13, 12, 11, 10]","[13, 12, 11, 10]","[100.0, 100.0, 100.0, 100.0]",1.000000,13,13
3,73.488892,"[11, 9, 7, 5]","[12, 11, 10, 9]","[91.66666666666667, 81.81818181818181, 70.0, 5...",1.000000,12,12
4,100.000000,"[10, 9, 8, 7]","[10, 9, 8, 7]","[100.0, 100.0, 100.0, 100.0]",1.000000,10,10
...,...,...,...,...,...,...,...
1595,62.766540,"[56, 47, 39, 32]","[61, 60, 59, 58]","[91.80327868852459, 78.33333333333333, 66.1016...",0.877088,61,69
1596,33.549194,"[35, 22, 14, 9]","[42, 41, 40, 39]","[83.33333333333333, 53.65853658536585, 35.0, 2...",0.769584,42,53
1597,58.521497,"[40, 29, 22, 18]","[46, 45, 44, 43]","[86.95652173913044, 64.44444444444444, 50.0, 4...",1.000000,46,46
1598,58.197179,"[46, 36, 27, 21]","[55, 54, 53, 52]","[83.63636363636364, 66.66666666666667, 50.9433...",1.000000,55,54
1599,45.055748,"[42, 28, 19, 13]","[49, 48, 47, 46]","[85.71428571428571, 58.333333333333336, 40.425...",0.921610,49,53

In [45]:
bertscore = load('bertscore')
compute_bert = lambda x,y: bertscore.compute(predictions=[y], references=[x], lang="en", model_type="distilbert-base-uncased" )

In [46]:
bert_scores = (
 chunked
   .starmap(compute_bert)
   .to_pandas()
   .drop(columns='hashcode')
   .applymap(np.mean)
)

In [47]:
prepend_name_to_cols = lambda x,y : x.rename(columns=lambda e: y+"_"+e)
prepend_name_to_cols(bert_scores, 'bert')
all_scores = (
  seq(bert_scores, bleu_scores, rouge_scores)
    .zip(['bert','bleu','rouge'])
    .starmap(prepend_name_to_cols)
)
scores_df = pd.concat(all_scores, axis=1)
scores_df

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_counts,bleu_totals,bleu_precisions,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
0,0.988835,0.977650,0.983211,83.499502,"[11, 10, 7, 5]","[11, 10, 9, 8]","[100.0, 100.0, 77.77777777777777, 62.5]",1.000000,11,11,0.947368,0.823529,0.947368,0.947368
1,1.000000,1.000000,1.000000,100.000000,"[21, 20, 19, 18]","[21, 20, 19, 18]","[100.0, 100.0, 100.0, 100.0]",1.000000,21,21,1.000000,1.000000,1.000000,1.000000
2,1.000000,1.000000,1.000000,100.000000,"[13, 12, 11, 10]","[13, 12, 11, 10]","[100.0, 100.0, 100.0, 100.0]",1.000000,13,13,1.000000,1.000000,1.000000,1.000000
3,0.967089,0.967089,0.967089,73.488892,"[11, 9, 7, 5]","[12, 11, 10, 9]","[91.66666666666667, 81.81818181818181, 70.0, 5...",1.000000,12,12,1.000000,0.800000,0.818182,0.818182
4,1.000000,1.000000,1.000000,100.000000,"[10, 9, 8, 7]","[10, 9, 8, 7]","[100.0, 100.0, 100.0, 100.0]",1.000000,10,10,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.916515,0.929712,0.920013,62.766540,"[56, 47, 39, 32]","[61, 60, 59, 58]","[91.80327868852459, 78.33333333333333, 66.1016...",0.877088,61,69,0.857143,0.615385,0.603774,0.603774
1596,0.924948,0.906139,0.915447,33.549194,"[35, 22, 14, 9]","[42, 41, 40, 39]","[83.33333333333333, 53.65853658536585, 35.0, 2...",0.769584,42,53,0.741573,0.413793,0.449438,0.449438
1597,0.955313,0.943391,0.949315,58.521497,"[40, 29, 22, 18]","[46, 45, 44, 43]","[86.95652173913044, 64.44444444444444, 50.0, 4...",1.000000,46,46,0.857143,0.602410,0.690476,0.690476
1598,0.927428,0.943713,0.928931,58.197179,"[46, 36, 27, 21]","[55, 54, 53, 52]","[83.63636363636364, 66.66666666666667, 50.9433...",1.000000,55,54,0.787879,0.597938,0.707071,0.707071
1599,0.957003,0.946949,0.951949,45.055748,"[42, 28, 19, 13]","[49, 48, 47, 46]","[85.71428571428571, 58.333333333333336, 40.425...",0.921610,49,53,0.847826,0.600000,0.608696,0.608696

In [48]:
scores_df.describe()

,bert_precision,bert_recall,bert_f1,bleu_score,bleu_bp,bleu_sys_len,bleu_ref_len,rouge_rouge1,rouge_rouge2,rouge_rougeL,rouge_rougeLsum
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.956374,0.949423,0.951973,62.306456,0.956103,21.786250,22.149375,0.845672,0.669599,0.746154,0.746154
std,0.030983,0.035058,0.032241,23.595339,0.082793,10.993286,10.932830,0.112022,0.200196,0.173836,0.173836
min,0.804568,0.778368,0.789856,5.346660,0.296922,5.000000,5.000000,0.387097,0.125000,0.266667,0.266667
25%,0.935331,0.925107,0.929605,46.022013,0.939413,13.000000,13.000000,0.775510,0.533333,0.619551,0.619551
50%,0.957080,0.950145,0.951900,61.443645,1.000000,20.000000,21.000000,0.848155,0.652174,0.739130,0.739130
75%,0.981166,0.977079,0.976631,78.961573,1.000000,29.000000,29.000000,0.933333,0.800000,0.894737,0.894737
max,1.000000,1.000000,1.000000,100.000000,1.000000,76.000000,69.000000,1.000000,1.000000,1.000000,1.000000

In [49]:
scores_df.to_pickle(OUTPUT_PATH / "d2s_scores.pkl")

In [50]:
test_predictions  = preds_raw[preds_raw.task == 's2d']

In [51]:
# define set notion of precision when multiple labels are assigned
# to a single instance, with epsilon preventing div by zero
def compute_f_measure(pred: set[str], gt: set[str], epsilon=1e-99):
    tp = len(pred.intersection(gt)) # pred true and actually true
    fp = len(gt - pred)             # in pred but not in gt
    fn = len(pred - gt)             # not in pred but actualy true

    prec = tp / (tp + fp + epsilon) 
    recl = tp / (tp + fn + epsilon) 
    f1 = (2 * prec * recl) / (prec + recl + epsilon)
    return f1

 ## Unit Tests

In [52]:
assert compute_f_measure(set("a"), set('a')) == 1
assert compute_f_measure(set("ab"), set('a')) == 2/3
assert compute_f_measure(set() , set('a')) == 0

In [53]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: x.str.upper().str.replace("'", '').str.replace(' ','').map(_.split(";")).map(set)
y_pred = norm_split_set(test_predictions['decoded'])
y_pred

77337    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77339    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77341    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77343    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77345    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
                               ...
85775    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85777    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85779    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85781    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85783    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
Name: decoded, Length: 4224, dtype: object

In [54]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: (
  x.str.upper()
  .str.replace("'", '')
  .str.replace(' ','')
  .str.replace("S2D\d:", "")
  .map(_.split(";")).map(set)
)
y_pred = norm_split_set(test_predictions['decoded'])
y_pred

<ipython-input-54-24961cbb7c7e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  x.str.upper()

77337    {ABILENEREGIONALAIRPORTSERVESTHECITYOFABILENE,...
77339    {ABILENEREGIONALAIRPORTSERVESTHECITYOFABILENE,...
77341    {ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCATEDINM...
77343    {ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCATEDINM...
77345    {ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCATEDINM...
                               ...
85775    {THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARH...
85777    {THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARH...
85779    {THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARH...
85781    {THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARH...
85783    {THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARH...
Name: decoded, Length: 4224, dtype: object

In [55]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: (
  x.str.upper()
  .str.replace("'", '')
  .str.replace(' ','')
  # .str.replace("S2D\d:", "")
  .map(_.split(";")).map(set)
)
y_pred = norm_split_set(test_predictions['decoded'])
y_pred

77337    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77339    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77341    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77343    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77345    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
                               ...
85775    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85777    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85779    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85781    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85783    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
Name: decoded, Length: 4224, dtype: object

In [56]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: (
  x.str.upper()
  .str.replace("'", '')
  .str.replace(' ','')
  # .str.replace("S2D\d:", "")
  .map(_.split(";")).map(set)
)
y_pred = norm_split_set(test_predictions.decoded)
y_pred

77337    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77339    {S2D0:ABILENEREGIONALAIRPORTSERVESTHECITYOFABI...
77341    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77343    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
77345    {S2D0:ADOLFOSUAREZMADRID-BARAJASAIRPORTISLOCAT...
                               ...
85775    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85777    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85779    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85781    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
85783    {S2D0:THESCHOOLOFBUSINESSANDSOCIALSCIENCESATTH...
Name: decoded, Length: 4224, dtype: object

In [57]:
test_predictions.decoded

77337    s2d 0: Abilene Regional Airport serves the cit...
77339    s2d 0: Abilene Regional Airport serves the cit...
77341    s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
77343    s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
77345    s2d 0: Adolfo Suarez Madrid-Barajas Airport is...
                               ...
85775    s2d 0: The School of Business and Social Scien...
85777    s2d 0: The School of Business and Social Scien...
85779    s2d 0: The School of Business and Social Scien...
85781    s2d 0: The School of Business and Social Scien...
85783    s2d 0: The School of Business and Social Scien...
Name: decoded, Length: 4224, dtype: object

In [58]:
# MISNOMER HACK - 
test_predictions  = preds_raw[preds_raw.task == 'd2s']

In [59]:
# define set notion of precision when multiple labels are assigned
# to a single instance, with epsilon preventing div by zero
def compute_f_measure(pred: set[str], gt: set[str], epsilon=1e-99):
    tp = len(pred.intersection(gt)) # pred true and actually true
    fp = len(gt - pred)             # in pred but not in gt
    fn = len(pred - gt)             # not in pred but actualy true

    prec = tp / (tp + fp + epsilon) 
    recl = tp / (tp + fn + epsilon) 
    f1 = (2 * prec * recl) / (prec + recl + epsilon)
    return f1

 ## Unit Tests

In [60]:
assert compute_f_measure(set("a"), set('a')) == 1
assert compute_f_measure(set("ab"), set('a')) == 2/3
assert compute_f_measure(set() , set('a')) == 0

In [61]:
test_predictions.decoded

77336    d2s 1: Abilene Regional Airport|city served|Ab...
77338    d2s 1: Abilene Regional Airport|city served|Ab...
77340    d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...
77342    d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...
77344    d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...
                               ...
85774    d2s 0: School of Business and Social Sciences ...
85776    d2s 0: School of Business and Social Sciences ...
85778    d2s 0: School of Business and Social Sciences ...
85780    d2s 0: School of Business and Social Sciences ...
85782    d2s 1: School of Business and Social Sciences ...
Name: decoded, Length: 4224, dtype: object

In [62]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: (
  x.str.upper()
  .str.replace("'", '')
  .str.replace(' ','')
  .str.replace("d2s\d:", "")
  .map(_.split(";")).map(set)
)
y_pred = norm_split_set(test_predictions.decoded)
y_pred

<ipython-input-62-42d81e16ce55>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  x.str.upper()

77336    {D2S1:ABILENEREGIONALAIRPORT|CITYSERVED|ABILEN...
77338    {D2S1:ABILENEREGIONALAIRPORT|CITYSERVED|ABILEN...
77340    {D2S1:ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATI...
77342    {D2S0:ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATI...
77344    {D2S0:ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATI...
                               ...
85774    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
85776    {D2S0:SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAA...
85778    {D2S0:SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAA...
85780    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, D2S0:S...
85782    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
Name: decoded, Length: 4224, dtype: object

In [63]:
# don't penalize for quotes or spaces
norm_split_set = lambda x: (
  x.str.upper()
  .str.replace("'", '')
  .str.replace(' ','')
  .str.replace("D2S\d:", "")
  .map(_.split(";")).map(set)
)
y_pred = norm_split_set(test_predictions.decoded)
y_pred

<ipython-input-63-86a45234fde8>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  x.str.upper()

77336    {ABILENEREGIONALAIRPORT|CITYSERVED|ABILENE,TEXAS}
77338    {ABILENEREGIONALAIRPORT|CITYSERVED|ABILENE,TEXAS}
77340    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
77342    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
77344    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
                               ...
85774    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
85776    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, SCHOOL...
85778    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
85780    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, SCHOOL...
85782    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
Name: decoded, Length: 4224, dtype: object

In [64]:
y_true = norm_split_set(test_predictions.sd)
y_true

<ipython-input-63-86a45234fde8>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  x.str.upper()

77336    {ABILENEREGIONALAIRPORT|CITYSERVED|ABILENE,TEXAS}
77338    {ABILENEREGIONALAIRPORT|CITYSERVED|ABILENE,TEXAS}
77340    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
77342    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
77344    {ADOLFOSUAREZMADRID-BARAJASAIRPORT|LOCATION|MA...
                               ...
85774    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
85776    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, SCHOOL...
85778    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, SCHOOL...
85780    {DENMARK|LEADERTITLE|MONARCHYOFDENMARK, SCHOOL...
85782    {SCHOOLOFBUSINESSANDSOCIALSCIENCESATTHEAARHUSU...
Name: sd, Length: 4224, dtype: object

In [65]:
f1_scores = seq(y_pred).zip(y_true).starmap(compute_f_measure).to_list()
f1_scores

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.6666666666666666,
 1.0,
 1.0,
 0.5,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.6666666666666666,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.5,
 0.5,
 0.5,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.5,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.5,
 0.5,
 0.5,
 0.5,
 1.0,
 1.0,
 0.5,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.5,
 0.6666666666666666,
 0.6666666666666666,
 ...]

In [66]:
def compute_closest_edit_dists(y_pred, y_true):
    # we need an alignment of the labels by edit distance
    return (
      seq(y_pred)
        .cartesian(y_true)
        .starmap(edit_distance) 
        .sorted()
        # full penalty for missed guesses or too many guesses
        # .take(seq(y_true, y_pred).map(len).max())
        .to_list()
    )

edit_distances = (
  seq(y_pred)
    .zip(y_true)
    .starmap(compute_closest_edit_dists)
    .map(np.mean)
    .to_list()
)
edit_distances

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 11.0,
 0.0,
 0.0,
 6.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 10.0,
 10.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 7.0,
 0.0,
 27.0,
 22.0,
 0.0,
 0.0,
 31.5,
 15.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 8.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 27.666666666666668,
 29.25,
 21.5,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 26.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 0.0,
 0.0,
 7.0,
 12.0,
 12.0,
 0.0,
 0.0,
 0.0,
 14.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.0,
 9.0,
 0.0,
 23.0,
 18.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 23.0,
 23.0,
 23.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 0.0,
 0.0,
 0.0,
 0.0,
 17.0,
 17.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 8.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 8.0,
 0.0,
 8.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 0.0,
 17.0,
 0.0,
 0.0,
 0.0,
 12.0,
 0.0,
 0.0,
 0.0,
 16.0,
 12.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 20.0,
 0.0,
 16.0,
 26.5,
 12.0,
 0.0,
 0.0,
 0.0,
 24.0,
 6.0,
 6.0,
 8.0,
 0.0,
 0.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 9.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 14.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 2.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.0,
 9.0,
 20.5,
 0.0,
 4.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 0.0,
 0.0,
 20.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 9.0,
 14.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 0.0,
 8.0,
 0.0,
 7.0,
 13.0,
 13.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 17.5,
 3.0,
 16.5,
 0.0,
 0.0,
 0.0,
 22.5,
 7.0,
 0.0,
 4.0,
 2.0,
 7.0,
 0.0,
 0.0,
 6.0,
 6.0,
 0.0,
 0.0,
 0.0,
 15.0,
 0.0,
 0.0,
 16.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 10.0,
 0.0,
 0.0,
 11.0,
 11.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 19.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 1.0,
 0.0,
 13.0,
 13.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 25.5,
 28.5,
 28.5,
 0.0,
 0.0,
 0.0,
 9.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 0.0,
 8.0,
 13.5,
 0.0,
 1.0,
 17.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 15.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 0.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 26.0,
 0.0,
 20.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 17.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 16.0,
 0.0,
 0.0,
 13.0,
 0.0,
 0.0,
 0.0,
 4.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 8.0,
 14.5,
 0.0,
 11.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 1.0,
 2.0,
 0.0,
 0.0,
 8.0,
 18.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 20.0,
 20.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 16.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 8.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.0,
 0.0,
 12.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 6.0,
 6.0,
 5.0,
 0.0,
 7.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 12.0,
 4.0,
 4.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 36.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 25.0,
 1.0,
 20.0,
 2.0,
 0.0,
 18.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 21.5,
 0.0,
 10.0,
 0.0,
 0.0,
 37.0,
 0.0,
 0.0,
 0.0,
 0.0,
 37.0,
 14.0,
 37.0,
 37.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 22.0,
 22.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 15.0,
 8.0,
 0.0,
 8.0,
 0.0,
 0.0,
 0.0,
 0.0,
 10.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 0.0,
 3.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 30.0,
 38.0,
 30.0,
 17.0,
 17.25,
 27.5,
 27.5,
 27.5,
 32.0,
 32.0,
 32.0,
 12.0,
 12.0,
 12.0,
 13.0,
 13.0,
 13.0,
 10.0,
 10.0,
 10.0,
 22.0,
 22.0,
 17.5,
 17.5,
 17.5,
 10.5,
 10.5,
 19.0,
 19.0,
 19.0,
 11.5,
 11.5,
 17.25,
 16.5,
 19.5,
 18.5,
 18.5,
 18.5,
 9.75,
 9.75,
 14.5,
 14.5,
 8.0,
 8.0,
 8.0,
 10.0,
 10.0,
 16.5,
 16.5,
 16.5,
 23.0,
 23.0,
 23.0,
 28.5,
 28.5,
 28.5,
 24.5,
 24.5,
 25.0,
 25.0,
 22.5,
 28.5,
 22.5,
 4.5,
 4.5,
 13.25,
 22.0,
 22.0,
 22.0,
 13.75,
 9.5,
 9.5,
 ...]

In [67]:
results = test_predictions
results['f1_scores'] = f1_scores
results['med_scores'] = edit_distances # med mean edit distance
results

<ipython-input-67-f08b752f341e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['f1_scores'] = f1_scores
<ipython-input-67-f08b752f341e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['med_scores'] = edit_distances # med mean edit distance

,record_idx,seed_number,subset,category,split_index,sd,nl,task,input_ids,attention_mask,labels,pred_ids,decoded,f1_scores,med_scores
77336,14495,0,test,Airport,0,d2s 0: Abilene Regional Airport|city served|Ab...,"Abilene, Texas is served by the Abilene region...",d2s,"[891, 23, 14205, 6, 2514, 19, 2098, 57, 8, 891...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 891, 23, 14205, 76...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77338,14495,1,test,Airport,0,d2s 1: Abilene Regional Airport|city served|Ab...,Abilene Regional Airport serves the city of Ab...,d2s,"[891, 23, 14205, 7676, 5735, 4657, 8, 690, 13,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 891, 23, 14205, 7676,...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77340,14496,0,test,Airport,1,d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport can be fo...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 89, ...","[0, 3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, ...",d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77342,14496,1,test,Airport,1,d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77344,14496,2,test,Airport,1,d2s 2: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85774,16092,1,test,University,1597,d2s 1: School of Business and Social Sciences ...,"Established in 1928, the School of Business an...",d2s,"[25275, 16, 29004, 6, 8, 1121, 13, 1769, 11, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.769231,30.238095
85776,16093,0,test,University,1598,d2s 0: School of Business and Social Sciences ...,Denmark is led by the Monarchy of Demark and t...,d2s,"[18001, 19, 2237, 57, 8, 2963, 7064, 63, 13, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,41.428571
85778,16093,1,test,University,1598,d2s 1: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.666667,42.085714
85780,16093,2,test,University,1598,d2s 2: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,42.200000
85782,16094,0,test,University,1599,d2s 0: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11...",d2s 1: School of Business and Social Sciences ...,0.923077,20.857143

In [68]:
# let's define nth finish and "place-number" as 0 for "finishing in first place"
# give find the place-number given a score: ties should have the same place
score_to_nth_finish: dict[float, int]= (
  seq(f1_scores)
    .sorted(reverse=True) # Highest to lowest
    .zip_with_index()     # gives an over-estimate of nth-finish
    .group_by(get[0])     # so we group by the f1 scores
    .map(get[1])          # then we get the actual place of the score
    .map(get[0])          # it's sorted, so take the first to account for ties
    .to_dict()            # convert to dictionary
)
seq(score_to_nth_finish.items()).to_pandas()

           0     1
0   1.000000     0
1   0.923077  2211
2   0.909091  2230
3   0.888889  2248
4   0.857143  2383
5   0.833333  2497
6   0.833333  2506
7   0.800000  2515
8   0.800000  2638
9   0.769231  2713
10  0.750000  2724
11  0.750000  2932
12  0.727273  2941
13  0.714286  2954
14  0.666667  2955
15  0.666667  3212
16  0.615385  3274
17  0.600000  3275
18  0.571429  3339
19  0.545455  3410
20  0.500000  3418
21  0.461538  3694
22  0.444444  3695
23  0.400000  3726
24  0.400000  3743
25  0.363636  3782
26  0.333333  3785
27  0.307692  3857
28  0.285714  3858
29  0.250000  3877
30  0.222222  3897
31  0.200000  3906
32  0.181818  3911
33  0.166667  3912
34  0.000000  3913

  so we can sort by this key later, and also get a broad impression
 of the distribution of errors. Later we'll plot a histogram anyway.

 ## Error analysis

In [69]:
results = test_predictions
results['f1_scores'] = f1_scores
results['med_scores'] = edit_distances # med mean edit distance
results

<ipython-input-69-f08b752f341e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['f1_scores'] = f1_scores
<ipython-input-69-f08b752f341e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['med_scores'] = edit_distances # med mean edit distance

,record_idx,seed_number,subset,category,split_index,sd,nl,task,input_ids,attention_mask,labels,pred_ids,decoded,f1_scores,med_scores
77336,14495,0,test,Airport,0,d2s 0: Abilene Regional Airport|city served|Ab...,"Abilene, Texas is served by the Abilene region...",d2s,"[891, 23, 14205, 6, 2514, 19, 2098, 57, 8, 891...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 891, 23, 14205, 76...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77338,14495,1,test,Airport,0,d2s 1: Abilene Regional Airport|city served|Ab...,Abilene Regional Airport serves the city of Ab...,d2s,"[891, 23, 14205, 7676, 5735, 4657, 8, 690, 13,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 891, 23, 14205, 7676,...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77340,14496,0,test,Airport,1,d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport can be fo...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 89, ...","[0, 3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, ...",d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77342,14496,1,test,Airport,1,d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77344,14496,2,test,Airport,1,d2s 2: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85774,16092,1,test,University,1597,d2s 1: School of Business and Social Sciences ...,"Established in 1928, the School of Business an...",d2s,"[25275, 16, 29004, 6, 8, 1121, 13, 1769, 11, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.769231,30.238095
85776,16093,0,test,University,1598,d2s 0: School of Business and Social Sciences ...,Denmark is led by the Monarchy of Demark and t...,d2s,"[18001, 19, 2237, 57, 8, 2963, 7064, 63, 13, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,41.428571
85778,16093,1,test,University,1598,d2s 1: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.666667,42.085714
85780,16093,2,test,University,1598,d2s 2: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,42.200000
85782,16094,0,test,University,1599,d2s 0: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11...",d2s 1: School of Business and Social Sciences ...,0.923077,20.857143

In [70]:
results = test_predictions
results['f1_scores'] = f1_scores
results['med_scores'] = edit_distances # med mean edit distance
results 
results.describe()

<ipython-input-70-1b83217bf9c4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['f1_scores'] = f1_scores
<ipython-input-70-1b83217bf9c4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['med_scores'] = edit_distances # med mean edit distance

         record_idx  seed_number  split_index    f1_scores   med_scores
count   4224.000000  4224.000000  4224.000000  4224.000000  4224.000000
mean   15306.636600     0.902462   811.636600     0.787838    16.194854
std      454.419137     0.838034   454.419137     0.297168    12.522817
min    14495.000000     0.000000     0.000000     0.000000     0.000000
25%    14929.000000     0.000000   434.000000     0.666667     9.812500
50%    15311.000000     1.000000   816.000000     1.000000    17.111111
75%    15697.250000     2.000000  1202.250000     1.000000    22.250000
max    16094.000000     7.000000  1599.000000     1.000000   453.200000

In [71]:
results = test_predictions
results['f1_scores'] = f1_scores
results['med_scores'] = edit_distances # med mean edit distance
results

<ipython-input-71-f08b752f341e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['f1_scores'] = f1_scores
<ipython-input-71-f08b752f341e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['med_scores'] = edit_distances # med mean edit distance

,record_idx,seed_number,subset,category,split_index,sd,nl,task,input_ids,attention_mask,labels,pred_ids,decoded,f1_scores,med_scores
77336,14495,0,test,Airport,0,d2s 0: Abilene Regional Airport|city served|Ab...,"Abilene, Texas is served by the Abilene region...",d2s,"[891, 23, 14205, 6, 2514, 19, 2098, 57, 8, 891...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 891, 23, 14205, 76...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77338,14495,1,test,Airport,0,d2s 1: Abilene Regional Airport|city served|Ab...,Abilene Regional Airport serves the city of Ab...,d2s,"[891, 23, 14205, 7676, 5735, 4657, 8, 690, 13,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 891, 23, 14205, 7676,...","[0, 3, 26, 357, 7, 209, 10, 891, 23, 14205, 76...",d2s 1: Abilene Regional Airport|city served|Ab...,1.000000,0.000000
77340,14496,0,test,Airport,1,d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport can be fo...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 89, ...","[0, 3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, ...",d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77342,14496,1,test,Airport,1,d2s 1: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
77344,14496,2,test,Airport,1,d2s 2: Adolfo Suarez Madrid-Barajas Airport|lo...,Adolfo Suarez Madrid-Barajas Airport is locate...,d2s,"[1980, 32, 40, 89, 32, 1923, 9, 2638, 12033, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1980, 32, 40, 89, 32,...","[0, 3, 26, 357, 7, 3, 632, 10, 1980, 32, 40, 8...",d2s 0: Adolfo Suarez Madrid-Barajas Airport|lo...,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85774,16092,1,test,University,1597,d2s 1: School of Business and Social Sciences ...,"Established in 1928, the School of Business an...",d2s,"[25275, 16, 29004, 6, 8, 1121, 13, 1769, 11, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.769231,30.238095
85776,16093,0,test,University,1598,d2s 0: School of Business and Social Sciences ...,Denmark is led by the Monarchy of Demark and t...,d2s,"[18001, 19, 2237, 57, 8, 2963, 7064, 63, 13, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,41.428571
85778,16093,1,test,University,1598,d2s 1: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.666667,42.085714
85780,16093,2,test,University,1598,d2s 2: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 204, 10, 1121, 13, 1769, 11, 2...","[0, 3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769,...",d2s 0: School of Business and Social Sciences ...,0.833333,42.200000
85782,16094,0,test,University,1599,d2s 0: School of Business and Social Sciences ...,The School of Business and Social Sciences at ...,d2s,"[37, 1121, 13, 1769, 11, 2730, 9226, 44, 8, 71...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 26, 357, 7, 3, 632, 10, 1121, 13, 1769, 11...","[0, 3, 26, 357, 7, 209, 10, 1121, 13, 1769, 11...",d2s 1: School of Business and Social Sciences ...,0.923077,20.857143

In [72]:
results.describe()

         record_idx  seed_number  split_index    f1_scores   med_scores
count   4224.000000  4224.000000  4224.000000  4224.000000  4224.000000
mean   15306.636600     0.902462   811.636600     0.787838    16.194854
std      454.419137     0.838034   454.419137     0.297168    12.522817
min    14495.000000     0.000000     0.000000     0.000000     0.000000
25%    14929.000000     0.000000   434.000000     0.666667     9.812500
50%    15311.000000     1.000000   816.000000     1.000000    17.111111
75%    15697.250000     2.000000  1202.250000     1.000000    22.250000
max    16094.000000     7.000000  1599.000000     1.000000   453.200000